<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>$HOME/ExperimentXML-git/DualPress/MATLAB_window_files/DualPress.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>#announceStimulus</string>
		<string>subjectNum</string>
		<string>experimentXmlTrialId</string>
		<string>preventDualReleaseTimeMs</string>
		<string>leverSolenoidDoDuringIti</string>
		<string>leverSolenoidDoOnMiss</string>
		<string>leverSolenoidDoOnEarly</string>
		<string>leverSolenoidDoBothSideIncorr</string>
		<string>leverSolenoidDoStimSideIncorr</string>
		<string>leverSolenoidDoAllTrials</string>
		<string>leverSolenoidDoStageOne</string>
		<string>timeoutEarlyMs</string>
		<string>timeoutMissedMs</string>
		<string>timeoutIncorrectMs</string>
		<string>timeoutDualReleaseMs</string>
		<string>rightReqHoldMs</string>
		<string>leftReqHoldMs</string>
		<string>reactTimeMs</string>
		<string>reactTooFastMs</string>
		<string>itiFixedTimeMs</string>
		<string>itiRandTimeMs</string>
		<string>itiDoEnforceBothHeld</string>
		<string>rightRewardUs</string>
		<string>leftRewardUs</string>
		<string>rewardConsecNCorrectMax</string>
		<string>rewardConsecGapTimeMs</string>
		<string>rewardDoStaircase</string>
		<string>rewardStaircaseMaxUs</string>
		<string>rewardStaircaseMinUs</string>
		<string>rewardStaircaseTargetUs</string>
		<string>rewardStaircaseNTrialsBeforeStart</string>
		<string>rewardStaircaseThisTrialWeight</string>
		<string>rewardStaircaseDoAsymmetricTarget</string>
		<string>rewardStaircaseAccelExponent</string>
		<string>rewardStaircaseStartingLeftBias</string>
		<string>rewardStaircaseDoSlidingWin</string>
		<string>rewardStaircaseSlidingWinNTrials</string>
		<string>rewardStaircaseDoEqualizeCorrects</string>
		<string>rewardStaircaseDoUseAllStimTrials</string>
		<string>doTargetSound</string>
		<string>targetSoundStimOffsetMs</string>
		<string>targetSoundVolume</string>
		<string>consecErrorNTrialsCauseTimeout</string>
		<string>consecErrorTimeoutS</string>
		<string>stimProbAvgLeft</string>
		<string>stimProbAvgSwitch</string>
		<string>trPer80Level1</string>
		<string>trPer80Level2</string>
		<string>trPer80Level3</string>
		<string>trPer80Level4</string>
		<string>trPer80Level5</string>
		<string>trPer80Level6</string>
		<string>trPer80Level7</string>
		<string>trPer80Level8</string>
		<string>rightGratingHeightDeg</string>
		<string>rightGratingWidthDeg</string>
		<string>rightGratingDirectionDeg</string>
		<string>rightGratingElevationDeg</string>
		<string>rightGratingAzimuthDeg</string>
		<string>rightGratingSpatialFreqCPD</string>
		<string>rightGratingSpeedDPS</string>
		<string>rightGratingDurationMs</string>
		<string>leftGratingHeightDeg</string>
		<string>leftGratingWidthDeg</string>
		<string>leftGratingDirectionDeg</string>
		<string>leftGratingElevationDeg</string>
		<string>leftGratingAzimuthDeg</string>
		<string>leftGratingSpatialFreqCPD</string>
		<string>leftGratingSpeedDPS</string>
		<string>leftGratingDurationMs</string>
		<string>rightGratingContrast8StepsMax</string>
		<string>rightGratingContrastSPO</string>
		<string>leftGratingContrast8StepsMax</string>
		<string>leftGratingContrastSPO</string>
		<string>doMatchToSample</string>
		<string>sampleOnsetContrast</string>
		<string>sampleOnsetTimeMs</string>
		<string>sampleDurationTimeMs</string>
		<string>doBlock2</string>
		<string>doRightLaserStim</string>
		<string>rightLaserPowerMaxMw</string>
		<string>rightLaserTrialContrastMax</string>
		<string>rightLaserTrialContrastSPO</string>
		<string>doLeftLaserStim</string>
		<string>leftLaserPowerMaxMw</string>
		<string>leftLaserTrialContrastMax</string>
		<string>leftLaserTrialContrastSPO</string>
		<string>fakeMouseOn</string>
		<string>fakeMouseMaxPressMs</string>
		<string>fakeMouseMinHoldMs</string>
		<string>fakeMouseMaxHoldMs</string>
		<string>fakeMouseMaxLeverOffsetMs</string>
		<string>fakeMouseLeftProb</string>
		<string>early</string>
		<string>stimulusOn</string>
		<string>leverResult</string>
		<string>success</string>
		<string>ignore</string>
		<string>incorrect</string>
		<string>dualrelease</string>
		<string>trialStart</string>
		<string>pressTimestampMs</string>
		<string>actualHoldTimeMs</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>FIO4</string>
		<string>laserTriggerFIO</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>sendLaserParams</string>
		<string>sendSerialParams</string>
		<string>randDeciderVar</string>
		<string>a</string>
		<string>b</string>
		<string>tGratingContrast</string>
		<string>tMarkovOdds</string>
		<string>tTempStimOdds</string>
		<string>tStimulusNumber</string>
		<string>tSvStimNumber</string>
		<string>tNStimAccepted</string>
		<string>tTotalReqHoldTimeMs</string>
		<string>tNTrialsCompleted</string>
		<string>tNTrialsAfterStartPressed</string>
		<string>tGratingDirectionDeg</string>
		<string>tGratingElevationDeg</string>
		<string>tGratingAzimuthDeg</string>
		<string>tGratingHeightDeg</string>
		<string>tGratingWidthDeg</string>
		<string>tGratingSpatialFreqCPD</string>
		<string>tGratingSpeedDPS</string>
		<string>tGratingDurationMs</string>
		<string>tConsecCorrects</string>
		<string>tConsecErrors</string>
		<string>tTotalRewardTimeUs</string>
		<string>tNRewards</string>
		<string>tRewardConsecGapTimeMs</string>
		<string>tConsecTimeoutStartTime</string>
		<string>tLeftRewardUs</string>
		<string>tRightRewardUs</string>
		<string>tRewardRunningLeftBias</string>
		<string>tGratingContrast8StepsMax</string>
		<string>tGratingContrastStepsPerOctave</string>
		<string>tTrialLaserPowerMw</string>
		<string>tLeftTrial</string>
		<string>tFirstReactReleaseIsLeft</string>
		<string>tLastStimWasLeft</string>
		<string>tStimTurnedOn</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tStartTrialWaitForPressTimeMs</string>
		<string>tItiWaitTimeMs</string>
		<string>tFakeMouseHoldMs</string>
		<string>tFakeMousePressMs</string>
		<string>tFakeMouseLeverOffsetMs</string>
		<string>tFakeMouseFirstReactReleaseIsLeft</string>
		<string>tempFloat</string>
		<string>svStimNumber</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>$HOME/ExperimentXML-git/PythonBridgeCode/DualPressPython.py</string>
	</array>
</dict>
</plist>
