<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/MovingDotDetect.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>debuggerActive</string>
		<string>debuggerRunning</string>
		<string>debuggerStep</string>
		<string>experimentXmlTrialId</string>
		<string>subjectNum</string>
		<string>doITIStim</string>
		<string>doVisualStim</string>
		<string>doLaserStim</string>
		<string>doSpeedDetect</string>
		<string>doDirDetect</string>
		<string>doBlock2</string>
		<string>doTrialLaser</string>
		<string>block2DoVisualStim</string>
		<string>block2DoSpeedDetect</string>
		<string>block2DoDirDetect</string>
		<string>block2DoTrialLaser</string>
		<string>itiTimeMs</string>
		<string>randReqHoldMaxMs</string>
		<string>fixedReqHoldTimeMs</string>
		<string>tooFastTimeMs</string>
		<string>reactTimeMs</string>
		<string>doGeomHoldDist</string>
		<string>geomHoldMeanMs</string>
		<string>doExtendItiOnShortPrevTrial</string>
		<string>soundPressAmplitude</string>
		<string>soundIncorrectAmplitude</string>
		<string>soundRewardAmplitude</string>
		<string>doLeverSolenoidAllTrials</string>
		<string>doLeverSolenoidOnMiss</string>
		<string>doLeverSolenoidOnEarly</string>
		<string>doSolenoidOnTimeout</string>
		<string>earlyTimeoutMs</string>
		<string>missedTimeoutMs</string>
		<string>nConsecErrorsCauseTimeout</string>
		<string>consecErrorTimeoutS</string>
		<string>postRewardMs</string>
		<string>rewardUs</string>
		<string>interRewardIntervalMs</string>
		<string>rewardEveryNCorrect</string>
		<string>maxConsecCorrects</string>
		<string>baseDotContrast</string>
		<string>baseDotSpeedDPS</string>
		<string>baseDotCoherence</string>
		<string>dotElevationDeg</string>
		<string>dotAzimuthDeg</string>
		<string>dotContrast</string>
		<string>dotFieldSizeDeg</string>
		<string>dotSizeDeg</string>
		<string>dotDensity</string>
		<string>dotDirectionDeg</string>
		<string>dotMaxCoherenceStep</string>
		<string>dotCoherenceStepsPerOctave</string>
		<string>doOriAndContrastInterleaved</string>
		<string>block2DoAuditoryDetect</string>
		<string>dotMaxSpeedStepDPS</string>
		<string>dotSpeedStepsPerOctave</string>
		<string>trPer80Level1</string>
		<string>trPer80Level2</string>
		<string>trPer80Level3</string>
		<string>trPer80Level4</string>
		<string>trPer80Level5</string>
		<string>trPer80Level6</string>
		<string>trPer80Level7</string>
		<string>trPer80Level8</string>
		<string>laserPeakMaxMw</string>
		<string>laserPeakStepsPerOctave</string>
		<string>laserOffPowerMw</string>
		<string>laserTransitionRampUpDownMs</string>
		<string>laserTransitionDoExpRamp</string>
		<string>laserBaselinePowerMw</string>
		<string>laserBaselinePostStimTimeMs</string>
		<string>laserDoLinearRamp</string>
		<string>laserRampLengthMs</string>
		<string>laserRampExtraConstantLengthMs</string>
		<string>laserRampDoExpRamp</string>
		<string>laserDoPulseTrain</string>
		<string>laserPulseLengthMs</string>
		<string>laserPulsePeriodMs</string>
		<string>laserTrainLengthMs</string>
		<string>laserTrainRandomNPulses</string>
		<string>laserTrainRandomType</string>
		<string>trialLaserPowerMw</string>
		<string>trialLaserOnTimeMs</string>
		<string>trialLaserOffTimeMs</string>
		<string>forceMinStimStepTo</string>
		<string>doBlock2SeparateOdds</string>
		<string>block2TrPer80Level1</string>
		<string>block2TrPer80Level2</string>
		<string>block2TrPer80Level3</string>
		<string>block2TrPer80Level4</string>
		<string>block2TrPer80Level5</string>
		<string>block2TrPer80Level6</string>
		<string>block2TrPer80Level7</string>
		<string>block2TrPer80Level8</string>
		<string>doBlock2SeparateReward</string>
		<string>block2RewardUs</string>
		<string>doBlock2SecondLaser</string>
		<string>block2DoRampLength</string>
		<string>block2RampLengthMs2</string>
		<string>block2RampLengthPowerMaxMw2</string>
		<string>block2BaseDotContrast</string>
		<string>block2BaseDotSpeedDPS</string>
		<string>block2BaseDotCoherence</string>
		<string>block2DotElevationDeg</string>
		<string>block2DotAzimuthDeg</string>
		<string>block2DotContrast</string>
		<string>block2DotFieldSizeDeg</string>
		<string>block2DotSizeDeg</string>
		<string>block2DotDensity</string>
		<string>block2DotDirectionDeg</string>
		<string>block2DotMaxCoherenceStep</string>
		<string>block2DotCoherenceStepsPerOctave</string>
		<string>block2DotMaxSpeedStepDPS</string>
		<string>block2DotSpeedStepsPerOctave</string>
		<string>block2DoRampVTrain</string>
		<string>block2RvtTrainPowerMaxMw</string>
		<string>block2RvtTrainStepsPerOctave</string>
		<string>block2RvtRampBaselinePowerMw</string>
		<string>block2RvtTrainBaselinePowerMw</string>
		<string>block2TrialLaserPowerMw</string>
		<string>block2TrialLaserOnTimeMs</string>
		<string>block2TrialLaserOffTimeMs</string>
		<string>doLever</string>
		<string>fakeMouseMaxReactMs</string>
		<string>failure</string>
		<string>leverResult</string>
		<string>stimulusOn</string>
		<string>success</string>
		<string>ignore</string>
		<string>trialStart</string>
		<string>pressTimestampMs</string>
		<string>actualHoldTimeMs</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>FIO2</string>
		<string>FIO3</string>
		<string>laserTriggerFIO</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>sendLaserParams</string>
		<string>sendSerialParams</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tTotalReqHoldTimeMs</string>
		<string>tRandReqHoldTimeMs</string>
		<string>tTotalRewardTimeUs</string>
		<string>tFakeMouseReactMs</string>
		<string>tStartTrialWaitForPressTimeMs</string>
		<string>consecCorrects</string>
		<string>tConsecErrors</string>
		<string>tConsecTimeoutStartTime</string>
		<string>tNRewards</string>
		<string>tInterRewardIntervalMs</string>
		<string>tRewardAddPerMsHoldUs</string>
		<string>tGotLongBonusThisTrial</string>
		<string>tItiWaitTimeMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>lastActualHoldTimeMs</string>
		<string>tempMs</string>
		<string>tTempStimOdds</string>
		<string>tStimulusNumber</string>
		<string>tSvStimNumber</string>
		<string>tLaserPowerMw</string>
		<string>tLaserDoLinearRamp</string>
		<string>tLaserDoPulseTrain</string>
		<string>tLaserRampLengthMs</string>
		<string>tLaserPeakMaxMw</string>
		<string>tLaserBaselinePowerMw</string>
		<string>tBaseDotContrast</string>
		<string>tBaseDotSpeedDPS</string>
		<string>tBaseDotCoherence</string>
		<string>tDotSpeedDPS</string>
		<string>setDotSpeedDPS</string>
		<string>tDotContrast</string>
		<string>setDotContrast</string>
		<string>tDotCoherence</string>
		<string>setDotCoherence</string>
		<string>tDotCoherenceStepsPerOctave</string>
		<string>tDotSpeedStepsPerOctave</string>
		<string>tDotMaxCoherenceStep</string>
		<string>tDotMaxSpeedStepDPS</string>
		<string>tLaserPeakStepsPerOctave</string>
		<string>tDotElevationDeg</string>
		<string>tDotAzimuthDeg</string>
		<string>tDotFieldSizeDeg</string>
		<string>tDotSizeDeg</string>
		<string>tDotDensity</string>
		<string>tDotDirectionDeg</string>
		<string>tSoundBasePressAmplitude</string>
		<string>tDoVisualStim</string>
		<string>tDoSpeedDetect</string>
		<string>tDoDirDetect</string>
		<string>block2DoGratingAppearance</string>
		<string>tTrialLaserPowerMw</string>
		<string>tTrialLaserOnTimeMs</string>
		<string>tTrialLaserOffTimeMs</string>
		<string>tBlock2TrialNumber</string>
		<string>tLeverPressTimeMs</string>
		<string>tLeverReleaseTimeMs</string>
		<string>trials</string>
		<string>tempNCorrect</string>
		<string>tNStimAccepted</string>
		<string>svStimNumber</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
