<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/VisStimRet.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>debuggerActive</string>
		<string>debuggerRunning</string>
		<string>debuggerStep</string>
		<string>subjectNum</string>
		<string>experimentXmlTrialId</string>
		<string>optic_device</string>
		<string>stopAfterNTrials</string>
		<string>nScansOn</string>
		<string>nScansOff</string>
		<string>doMatrix</string>
		<string>doRand</string>
		<string>doLEDStim</string>
		<string>backgroundLuminance</string>
		<string>doBackgroundStim</string>
		<string>backgroundLuminanceStepLog</string>
		<string>backgroundLuminanceStepDir</string>
		<string>backgroundLuminanceStepN</string>
		<string>nTotalImagingFrames</string>
		<string>frameImagingRateMs</string>
		<string>frameImagingExposureMs</string>
		<string>frameImagingBinning</string>
		<string>doRetStim</string>
		<string>doConStim</string>
		<string>doDirStim</string>
		<string>doSFStim</string>
		<string>doTFStim</string>
		<string>doSizeStim</string>
		<string>doAnnulusStim</string>
		<string>doAnnulusSizeStim</string>
		<string>doPhaseStim</string>
		<string>doLoomStim</string>
		<string>doGaussianMask</string>
		<string>doEllipseMask</string>
		<string>doMovingDots</string>
		<string>doDotsSpeedStim</string>
		<string>doDotsSizeStim</string>
		<string>doDotsCoherenceStim</string>
		<string>doDotsDirectionStim</string>
		<string>doDotsContrastStim</string>
		<string>doDotsDensityStim</string>
		<string>doRunFeedback</string>
		<string>runFeedbackGain</string>
		<string>baseGratingContrast</string>
		<string>baseGratingDirectionDeg</string>
		<string>baseGratingStartingPhaseDeg</string>
		<string>target_mask</string>
		<string>gratingElevationDeg</string>
		<string>gratingElevationStepDeg</string>
		<string>gratingElevationStepN</string>
		<string>gratingAzimuthDeg</string>
		<string>gratingAzimuthStepDeg</string>
		<string>gratingAzimuthStepN</string>
		<string>gratingContrast</string>
		<string>gratingContrastStepLog</string>
		<string>gratingContrastStepDir</string>
		<string>gratingContrastStepN</string>
		<string>gratingDirectionDeg</string>
		<string>gratingDirectionStepDeg</string>
		<string>gratingDirectionStepN</string>
		<string>gratingSpatialFreqCPD</string>
		<string>gratingSpatialFreqStepLog</string>
		<string>gratingSpatialFreqStepDir</string>
		<string>gratingSpatialFreqStepN</string>
		<string>gratingTemporalFreqCPS</string>
		<string>gratingTemporalFreqStepLog</string>
		<string>gratingTemporalFreqStepDir</string>
		<string>gratingTemporalFreqStepN</string>
		<string>gratingDiameterDeg</string>
		<string>gratingDiameterStepDeg</string>
		<string>gratingDiameterStepN</string>
		<string>gratingStartingPhaseDeg</string>
		<string>gratingStartingPhaseStepDeg</string>
		<string>gratingStartingPhaseStepN</string>
		<string>greymaskDiameterDeg</string>
		<string>AnnulusgratingDiameterStepN</string>
		<string>AnnulusgratingDiameterMinN</string>
		<string>AnnulusgratingDiameterMaxN</string>
		<string>loomSpeedDPS</string>
		<string>maxLoomDiameterDeg</string>
		<string>loomSpeedStepLog</string>
		<string>loomSpeedStepDir</string>
		<string>loomSpeedStepN</string>
		<string>LEDPowerMw</string>
		<string>LEDPowerStepMw</string>
		<string>LEDPowerStepN</string>
		<string>LaserPowerMw</string>
		<string>baseDotContrast</string>
		<string>baseDotSpeedDPS</string>
		<string>baseDotDirectionDeg</string>
		<string>baseDotCoherence</string>
		<string>baseDotSizeDeg</string>
		<string>baseDotDensity</string>
		<string>dotElevationDeg</string>
		<string>dotAzimuthDeg</string>
		<string>dotFieldSizeDeg</string>
		<string>dotDensity</string>
		<string>dotDensityStep</string>
		<string>dotDensityStepN</string>
		<string>dotContrast</string>
		<string>dotContrastStepLog</string>
		<string>dotContrastStepDir</string>
		<string>dotContrastStepN</string>
		<string>dotCoherence</string>
		<string>dotCoherenceStepLog</string>
		<string>dotCoherenceStepDir</string>
		<string>dotCoherenceStepN</string>
		<string>dotDirectionDeg</string>
		<string>dotDirectionStepDeg</string>
		<string>dotDirectionStepN</string>
		<string>dotSizeDeg</string>
		<string>dotSizeStepDeg</string>
		<string>dotSizeStepN</string>
		<string>dotSpeedDPS</string>
		<string>dotSpeedStepLog</string>
		<string>dotSpeedStepDir</string>
		<string>dotSpeedStepN</string>
		<string>doPhotodiode</string>
		<string>photoStimulusContrast</string>
		<string>photoStimulusAzimuth</string>
		<string>photoStimulusElevation</string>
		<string>photoStimulusWidth</string>
		<string>photoStimulusHeight</string>
		<string>photoMaskSpatialFreq</string>
		<string>Do2LED</string>
		<string>LED_sequence</string>
		<string>LED_DurationMS</string>
		<string>stimulusOn</string>
		<string>trialStart</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>MIO0</string>
		<string>laserTrigger</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>counter</string>
		<string>counter2</string>
		<string>do2led</string>
		<string>LED_durationMS</string>
		<string>led1_status</string>
		<string>led2_status</string>
		<string>led_seq</string>
		<string>sendLaserParams</string>
		<string>sendSerialParams</string>
		<string>tTempStim</string>
		<string>tCounter2</string>
		<string>ttCounter2</string>
		<string>spCounter1</string>
		<string>spCounter2</string>
		<string>spCounter3</string>
		<string>spCounter4</string>
		<string>spCounter5</string>
		<string>spCounter6</string>
		<string>spCounter7</string>
		<string>spCounter8</string>
		<string>spCounter9</string>
		<string>spCounter10</string>
		<string>speedTimerIntervalMs</string>
		<string>tITIWheelCounter</string>
		<string>tStimWheelCounter</string>
		<string>runFeedbackCounter</string>
		<string>tTrialsDoneSinceStart</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>rrStimulusNumber</string>
		<string>tStimulusNumber</string>
		<string>tBackgroundLuminance</string>
		<string>tBaseGratingDiameterDeg</string>
		<string>tBaseGratingDirectionDeg</string>
		<string>tBaseGratingContrast</string>
		<string>tGratingDirectionDeg</string>
		<string>tGratingContrast</string>
		<string>tGratingElevationDeg</string>
		<string>tGratingAzimuthDeg</string>
		<string>tGratingDiameterDeg</string>
		<string>tAnnulusGratingDiameterDeg</string>
		<string>tgreymaskDiameterDeg</string>
		<string>tGratingSpatialFreqCPD</string>
		<string>tGratingTemporalFreqCPS</string>
		<string>tGratingSpeedDPS</string>
		<string>tGratingStartingPhaseDeg</string>
		<string>tGratingLoomSpeedDPS</string>
		<string>tTrialLaserPowerMw</string>
		<string>tTrialLaserPowerMw_trigger</string>
		<string>tDotDirectionDeg</string>
		<string>tDotContrast</string>
		<string>tDotElevationDeg</string>
		<string>tDotAzimuthDeg</string>
		<string>tDotFieldSizeDeg</string>
		<string>tDotSizeDeg</string>
		<string>tDotDensity</string>
		<string>tDotSpeedDPS</string>
		<string>tDotCoherence</string>
		<string>setDotSpeedDPS</string>
		<string>setDotDirectionDeg</string>
		<string>setDotContrast</string>
		<string>setDotSizeDeg</string>
		<string>setDotCoherence</string>
		<string>setDotDensity</string>
		<string>targetStimOnMs</string>
		<string>tNStimAccepted</string>
		<string>frameCountN</string>
		<string>svRandStimNumber</string>
		<string>svSeqStimNumber</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/VisStimRetLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
