<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/CerebellarStim.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>debuggerActive</string>
		<string>debuggerRunning</string>
		<string>debuggerStep</string>
		<string>subjectNum</string>
		<string>experimentXmlTrialId</string>
		<string>optic_device</string>
		<string>stopAfterNTrials</string>
		<string>tactileStimulusDurationUs</string>
		<string>solenoidStimulusDurationMs</string>
		<string>soundDurationMs</string>
		<string>postSoundPauseDurationMs</string>
		<string>itiIntervalMs</string>
		<string>checkMovementMs</string>
		<string>DoSoundStim</string>
		<string>DoTactileStim</string>
		<string>DoSolenoid</string>
		<string>DoCerebellarStim</string>
		<string>DoVisualStim_running</string>
		<string>DoMovingDot</string>
		<string>DoMotionReverse</string>
		<string>MovingDotDurationMS</string>
		<string>MaxReverseDelayMS</string>
		<string>MinReverseDelayMS</string>
		<string>ReverseDurationMS</string>
		<string>DotDirectionDeg</string>
		<string>DotDensity</string>
		<string>DotSizeDeg</string>
		<string>setDotCoherence</string>
		<string>DotSpeedBaseline</string>
		<string>DotSpeedScale</string>
		<string>DotFieldRadius</string>
		<string>Dot_x</string>
		<string>Dot_y</string>
		<string>setDotContrast</string>
		<string>setDotContrast_stay</string>
		<string>frameImagingDurationMs</string>
		<string>DoWheelspeed</string>
		<string>speedIntervalUS</string>
		<string>requiredPulse</string>
		<string>RunningDurationMS</string>
		<string>StationaryDurationMS</string>
		<string>itiNFrames</string>
		<string>postSoundPauseNFrames</string>
		<string>TStimNFrames</string>
		<string>checkNFrames</string>
		<string>MovingDotTotalNFrames</string>
		<string>ReverseDelayNFrames</string>
		<string>ReverseNFrames</string>
		<string>stationaryNFrames</string>
		<string>runNFrames</string>
		<string>soundstimulusOn</string>
		<string>trialStart</string>
		<string>Imaging</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>lever_solenoid</string>
		<string>laserTrigger</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>counter</string>
		<string>quadrature</string>
		<string>MouseIsStill</string>
		<string>MouseIsRunning</string>
		<string>docerebellarStim</string>
		<string>running_criteria</string>
		<string>wheelSpeed</string>
		<string>stationaryDuration</string>
		<string>runningDuration</string>
		<string>tCounter</string>
		<string>cReverse</string>
		<string>tTactileStimulusDurationUs</string>
		<string>tTactileStimTurnedOn</string>
		<string>tTrialsDoneSinceStart</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>frameCountN</string>
		<string>tResistanceStartMS</string>
		<string>tReverseVStimTimeMs</string>
		<string>tReverseDelayMS</string>
		<string>tDotDirectionDeg</string>
		<string>lastTrialStimOn</string>
		<string>lastTrialMouseStill</string>
		<string>lastTrialMouseRun</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
