<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/HoldAndDetectConstant/MATLAB_window_files/HoldAndDetectConstant.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>debuggerActive</string>
		<string>debuggerRunning</string>
		<string>debuggerStep</string>
		<string>subjectNum</string>
		<string>experimentXmlTrialId</string>
		<string>optic_device</string>
		<string>doAnalogLever</string>
		<string>doVisualStim</string>
		<string>doLaserStim</string>
		<string>doOriDetect</string>
		<string>doContrastDetect</string>
		<string>doSpeedDetect</string>
		<string>doITIStim</string>
		<string>itiContrast</string>
		<string>doNoStimulusChange</string>
		<string>doAllCorrects</string>
		<string>doLeverSolenoidAllTrials</string>
		<string>doLeverSolenoidOnMiss</string>
		<string>doLeverSolenoidOnEarly</string>
		<string>doTraining</string>
		<string>nTrialsAdjustRandom</string>
		<string>nTrialsAdjustRT</string>
		<string>evaluationWindow</string>
		<string>tooFastTimeMs</string>
		<string>randReqHoldMaxMs</string>
		<string>fixedReqHoldTimeMs</string>
		<string>doGeomHoldDist</string>
		<string>geomHoldMeanMs</string>
		<string>reactTimeMs</string>
		<string>itiTimeMs</string>
		<string>doExtendItiOnShortPrevTrial</string>
		<string>doPreHoldTime</string>
		<string>preHoldTimeMs</string>
		<string>doSolenoidOnTimeout</string>
		<string>earlyTimeoutMs</string>
		<string>missedTimeoutMs</string>
		<string>nConsecErrorsCauseTimeout</string>
		<string>consecErrorTimeoutS</string>
		<string>postRewardMs</string>
		<string>minRewardUs</string>
		<string>maxRewardUs</string>
		<string>interRewardIntervalMs</string>
		<string>maxConsecCorrects</string>
		<string>rewardEveryNCorrect</string>
		<string>baseGratingDirectionDeg</string>
		<string>baseGratingContrast</string>
		<string>baseGratingSpeedDPS</string>
		<string>gratingElevationDeg</string>
		<string>gratingAzimuthDeg</string>
		<string>gratingHeightDeg</string>
		<string>gratingWidthDeg</string>
		<string>gratingSpatialFreqCPD</string>
		<string>gratingDurationMs</string>
		<string>gratingStartingPhaseDeg</string>
		<string>gratingMaxContrastStep</string>
		<string>gratingContrastStepsPerOctave</string>
		<string>gratingMaxDirectionStepDeg</string>
		<string>gratingDirectionStepsPerOctave</string>
		<string>gratingMaxSpeedStepDPS</string>
		<string>gratingSpeedStepsPerOctave</string>
		<string>trPer80Level1</string>
		<string>trPer80Level2</string>
		<string>trPer80Level3</string>
		<string>trPer80Level4</string>
		<string>trPer80Level5</string>
		<string>trPer80Level6</string>
		<string>trPer80Level7</string>
		<string>trPer80Level8</string>
		<string>soundPressAmplitude</string>
		<string>soundBasePressAmplitude</string>
		<string>soundCueAmplitude</string>
		<string>soundTargetAmplitude</string>
		<string>soundTrialStartAmplitude</string>
		<string>doBlock2</string>
		<string>doBlock2SeparateReward</string>
		<string>block2MinRewardUs</string>
		<string>block2MaxRewardUs</string>
		<string>block2DoGratingAppearance</string>
		<string>block2BaseGratingContrast</string>
		<string>block2BaseGratingDirectionDeg</string>
		<string>block2BaseGratingSpeedDPS</string>
		<string>block2GratingElevationDeg</string>
		<string>block2GratingAzimuthDeg</string>
		<string>block2GratingHeightDeg</string>
		<string>block2GratingWidthDeg</string>
		<string>block2GratingSpatialFreqCPD</string>
		<string>block2GratingDurationMs</string>
		<string>block2GratingMaxContrastStep</string>
		<string>block2GratingContrastStepsPerOctave</string>
		<string>block2GratingMaxDirectionStepDeg</string>
		<string>block2GratingDirectionStepsPerOctave</string>
		<string>block2GratingMaxSpeedStepDPS</string>
		<string>block2GratingSpeedStepsPerOctave</string>
		<string>doBlock2SeparateOdds</string>
		<string>block2TrPer80Level1</string>
		<string>block2TrPer80Level2</string>
		<string>block2TrPer80Level3</string>
		<string>block2TrPer80Level4</string>
		<string>block2TrPer80Level5</string>
		<string>block2TrPer80Level6</string>
		<string>block2TrPer80Level7</string>
		<string>block2TrPer80Level8</string>
		<string>block2DoTrialLaser</string>
		<string>block2TrialLaserPowerMw</string>
		<string>block2TrialLaserOnTimeMs</string>
		<string>block2TrialLaserOffTimeMs</string>
		<string>block2DoRampLength</string>
		<string>block2RampLengthMs2</string>
		<string>block2RampLengthPowerMaxMw2</string>
		<string>block2DoRampVTrain</string>
		<string>block2RvtTrainPowerMaxMw</string>
		<string>block2RvtTrainStepsPerOctave</string>
		<string>block2RvtRampBaselinePowerMw</string>
		<string>block2RvtTrainBaselinePowerMw</string>
		<string>doBlock2SecondLaser</string>
		<string>laserPeakMaxMw</string>
		<string>laserPeakStepsPerOctave</string>
		<string>laserOffPowerMw</string>
		<string>laserTransitionRampUpDownMs</string>
		<string>laserTransitionDoExpRamp</string>
		<string>laserBaselinePowerMw</string>
		<string>laserBaselinePostStimTimeMs</string>
		<string>laserDoLinearRamp</string>
		<string>laserRampLengthMs</string>
		<string>laserRampExtraConstantLengthMs</string>
		<string>laserRampDoExpRamp</string>
		<string>laserDoPulseTrain</string>
		<string>laserPulseLengthMs</string>
		<string>laserPulsePeriodMs</string>
		<string>laserTrainLengthMs</string>
		<string>laserTrainRandomNPulses</string>
		<string>laserTrainRandomType</string>
		<string>trialLaserPowerMw</string>
		<string>trialLaserOnTimeMs</string>
		<string>trialLaserOffTimeMs</string>
		<string>doLever</string>
		<string>fakeMouseMaxPressMs</string>
		<string>fakeMouseMaxReactMs</string>
		<string>failure</string>
		<string>leverResult</string>
		<string>stimulusOn</string>
		<string>success</string>
		<string>ignore</string>
		<string>trialStart</string>
		<string>pressTimestampMs</string>
		<string>actualHoldTimeMs</string>
		<string>reactTimesMsTotal</string>
		<string>reactTimesMsCorrect</string>
		<string>medianReactTimesMs</string>
		<string>achievedTierRandom</string>
		<string>achievedMaxRandom</string>
		<string>mouseSpeed</string>
		<string>mouseHolder</string>
		<string>targetCorrect</string>
		<string>reactToWindow</string>
		<string>reactToWindow_lastN</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>MIO0</string>
		<string>laserTrigger</string>
		<string>quadrature</string>
		<string>leverThreshold</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>sendLaserParams</string>
		<string>sendSerialParams</string>
		<string>tTrialsDoneSinceStart</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tDoAllCorrects</string>
		<string>tTotalReqHoldTimeMs</string>
		<string>tTotalRewardTimeUs</string>
		<string>tRandReqHoldTimeMs</string>
		<string>tFakeMouseReactMs</string>
		<string>tFakeMousePressMs</string>
		<string>tStartTrialWaitForPressTimeMs</string>
		<string>consecCorrects</string>
		<string>tConsecErrors</string>
		<string>tempNCorrect</string>
		<string>tConsecTimeoutStartTime</string>
		<string>tNRewards</string>
		<string>tInterRewardIntervalMs</string>
		<string>tRewardAddPerMsHoldUs</string>
		<string>tStimTurnedOn</string>
		<string>tItiWaitTimeMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>lastActualHoldTimeMs</string>
		<string>tempMs</string>
		<string>tTempStimOdds</string>
		<string>tStimulusNumber</string>
		<string>tSvStimNumber</string>
		<string>tLaserPowerMw</string>
		<string>tLaserDoLinearRamp</string>
		<string>tLaserDoPulseTrain</string>
		<string>tLaserRampLengthMs</string>
		<string>tLaserPeakMaxMw</string>
		<string>tLaserBaselinePowerMw</string>
		<string>tBaseGratingContrast</string>
		<string>setBaseGratingContrast</string>
		<string>tBaseGratingDirectionDeg</string>
		<string>tBaseGratingSpeedDPS</string>
		<string>tGratingMaxContrastStep</string>
		<string>tGratingContrastStepsPerOctave</string>
		<string>tGratingMaxDirectionStepDeg</string>
		<string>tGratingDirectionStepsPerOctave</string>
		<string>tGratingMaxSpeedStepDPS</string>
		<string>tGratingSpeedStepsPerOctave</string>
		<string>tLaserPeakStepsPerOctave</string>
		<string>tGratingDirectionDeg</string>
		<string>tGratingContrast</string>
		<string>tGratingElevationDeg</string>
		<string>tGratingAzimuthDeg</string>
		<string>tGratingHeightDeg</string>
		<string>tGratingWidthDeg</string>
		<string>tGratingSpatialFreqCPD</string>
		<string>tGratingSpeedDPS</string>
		<string>tGratingDurationMs</string>
		<string>tGratingStartingPhaseDeg</string>
		<string>tDoNoStimulusChange</string>
		<string>tTrialLaserPowerMw</string>
		<string>tTrialLaserPowerMw_trigger</string>
		<string>tTrialLaserOnTimeMs</string>
		<string>tTrialLaserOffTimeMs</string>
		<string>tBlock2TrialNumber</string>
		<string>tNStimAccepted</string>
		<string>svStimNumber</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
