<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/RewardDelay.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>debuggerActive</string>
		<string>debuggerRunning</string>
		<string>debuggerStep</string>
		<string>subjectNum</string>
		<string>experimentXmlTrialId</string>
		<string>doSolenoidAllTrials</string>
		<string>doSolenoidOnEarly</string>
		<string>doSolenoidOnLate</string>
		<string>doSolenoidOnNR</string>
		<string>itiTimeMs</string>
		<string>reqHoldToStartMs</string>
		<string>delayTimeMs</string>
		<string>preRewardWindowMs</string>
		<string>postRewardWindowMs</string>
		<string>waitForLateTimeMs</string>
		<string>earlyTimeoutMs</string>
		<string>lateTimeoutMs</string>
		<string>noReleaseTimeoutMs</string>
		<string>doExtendItiOnShortPrevTrial</string>
		<string>doScaleRewardWithHoldTime</string>
		<string>doScaleRewardToTarget</string>
		<string>postRewardMs</string>
		<string>minRewardUs</string>
		<string>maxRewardUs</string>
		<string>interRewardIntervalMs</string>
		<string>maxConsecCorrects</string>
		<string>nConsecErrorsCauseTimeout</string>
		<string>consecErrorTimeoutS</string>
		<string>startSoundVolume</string>
		<string>rewardSoundVolume</string>
		<string>itiEndSoundVolume</string>
		<string>delaySoundVolume</string>
		<string>dsLevel1</string>
		<string>dsNCorrLvl1</string>
		<string>dsLevel2</string>
		<string>dsNCorrLvl2</string>
		<string>dsLevel3</string>
		<string>doRobot</string>
		<string>testRobotMaxPressMs</string>
		<string>testRobotMaxReactMs</string>
		<string>trialStart</string>
		<string>leverResult</string>
		<string>stimulusOn</string>
		<string>early</string>
		<string>success</string>
		<string>late</string>
		<string>norelease</string>
		<string>pressTimestampMs</string>
		<string>actualHoldTimeMs</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>FIO2</string>
		<string>laserTriggerFIO</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>sendLaserParams</string>
		<string>sendSerialParams</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tReqHoldToStartMs</string>
		<string>tTotalRewardTimeUs</string>
		<string>tDelayTimeMs</string>
		<string>tWaitForLateTimeMs</string>
		<string>tPreRewardWindowMs</string>
		<string>tPostRewardWindowMs</string>
		<string>tTestRobotReactMs</string>
		<string>tTestRobotPressMs</string>
		<string>tStartTrialWaitForPressTimeMs</string>
		<string>consecCorrects</string>
		<string>tConsecErrors</string>
		<string>tConsecTimeoutStartTime</string>
		<string>tNRewards</string>
		<string>tInterRewardIntervalMs</string>
		<string>tRewardAddPerMsHoldUs</string>
		<string>tStimTurnedOn</string>
		<string>tItiWaitTimeMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>lastActualHoldTimeMs</string>
		<string>tempMs</string>
		<string>tTempStimOdds</string>
		<string>tDelaySoundVolume</string>
		<string>tMarkovOdds</string>
		<string>a</string>
		<string>b</string>
		<string>probAvgLED</string>
		<string>probAvgSwitch</string>
		<string>doBlock2</string>
		<string>tLastTrialWasLED</string>
		<string>doLaserStim</string>
		<string>trPer80Level1</string>
		<string>trPer80Level2</string>
		<string>trPer80Level3</string>
		<string>trPer80Level4</string>
		<string>trPer80Level5</string>
		<string>trPer80Level6</string>
		<string>trPer80Level7</string>
		<string>trPer80Level8</string>
		<string>laserPeakMaxMw</string>
		<string>laserPeakStepsPerOctave</string>
		<string>laserOffPowerMw</string>
		<string>laserTransitionRampUpDownMs</string>
		<string>laserTransitionDoExpRamp</string>
		<string>laserBaselinePowerMw</string>
		<string>laserBaselinePostStimTimeMs</string>
		<string>laserDoLinearRamp</string>
		<string>laserRampLengthMs</string>
		<string>laserRampExtraConstantLengthMs</string>
		<string>laserRampDoExpRamp</string>
		<string>laserDoPulseTrain</string>
		<string>laserPulseLengthMs</string>
		<string>laserPulsePeriodMs</string>
		<string>laserTrainLengthMs</string>
		<string>laserTrainRandomNPulses</string>
		<string>laserTrainRandomType</string>
		<string>trialLaserPowerMw</string>
		<string>trialLaserOnTimeMs</string>
		<string>trialLaserOffTimeMs</string>
		<string>forceMinStimStepTo</string>
		<string>doBlock2SeparateOdds</string>
		<string>block2TrPer80Level1</string>
		<string>block2TrPer80Level2</string>
		<string>block2TrPer80Level3</string>
		<string>block2TrPer80Level4</string>
		<string>block2TrPer80Level5</string>
		<string>block2TrPer80Level6</string>
		<string>block2TrPer80Level7</string>
		<string>block2TrPer80Level8</string>
		<string>doBlock2SecondLaser</string>
		<string>block2DoTrialLaser</string>
		<string>block2DoRampLength</string>
		<string>block2RampLengthMs2</string>
		<string>block2RampLengthPowerMaxMw2</string>
		<string>block2DoRampVTrain</string>
		<string>block2RvtTrainPowerMaxMw</string>
		<string>block2RvtTrainStepsPerOctave</string>
		<string>block2RvtRampBaselinePowerMw</string>
		<string>block2RvtTrainBaselinePowerMw</string>
		<string>block2TrialLaserPowerMw</string>
		<string>block2TrialLaserOnTimeMs</string>
		<string>block2TrialLaserOffTimeMs</string>
		<string>tTempStimOdds</string>
		<string>tStimulusNumber</string>
		<string>tSvStimNumber</string>
		<string>tLaserPowerMw</string>
		<string>tLaserDoLinearRamp</string>
		<string>tLaserDoPulseTrain</string>
		<string>tLaserRampLengthMs</string>
		<string>tLaserPeakMaxMw</string>
		<string>tLaserBaselinePowerMw</string>
		<string>tLaserPeakStepsPerOctave</string>
		<string>tTrialLaserPowerMw</string>
		<string>tTrialLaserOnTimeMs</string>
		<string>tTrialLaserOffTimeMs</string>
		<string>tBlock2TrialNumber</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
