<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/imageAndGratingStim.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>DoWheelSpeed</string>
		<string>speedIntervalUS</string>
		<string>doWheelSpeed</string>
		<string>speedIntervalMS</string>
		<string>optic_device</string>
		<string>experimentXmlTrialId</string>
		<string>subjectNum</string>
		<string>FIO1</string>
		<string>MIO0</string>
		<string>laserTrigger</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>counter</string>
		<string>wheelSpeed</string>
		<string>LED_durationMS</string>
		<string>led1_status</string>
		<string>led2_status</string>
		<string>led_seq</string>
		<string>quadrature</string>
		<string>doCerebellarStim</string>
		<string>do2led</string>
		<string>index</string>
		<string>frameRateHz</string>
		<string>xSize</string>
		<string>ySize</string>
		<string>xPosition</string>
		<string>yPosition</string>
		<string>gratingContrast</string>
		<string>gratingDirectionDeg</string>
		<string>gratingSpatialFreqCPD</string>
		<string>gratingSpatialFreqStepN</string>
		<string>gratingSpatialFreqStepLog</string>
		<string>numImages</string>
		<string>maskType</string>
		<string>maskMean</string>
		<string>maskStd</string>
		<string>maskEdge</string>
		<string>doPhotodiode</string>
		<string>photoStimulusContrast</string>
		<string>photoStimulusAzimuth</string>
		<string>photoStimulusElevation</string>
		<string>photoStimulusWidth</string>
		<string>photoStimulusHeight</string>
		<string>photoMaskSpatialFreq</string>
		<string>isiTimeMs</string>
		<string>randIsiTimeStart</string>
		<string>randIsiTimeStep</string>
		<string>randIsiTimeInterval</string>
		<string>itiTimeMs</string>
		<string>stimOnTimeMs</string>
		<string>stimOne</string>
		<string>stimTwo</string>
		<string>stimOneOffChance</string>
		<string>stimList</string>
		<string>setList</string>
		<string>tNStimAccepted</string>
		<string>tNStim2Accepted</string>
		<string>doStimTwo</string>
		<string>doRandIsiTime</string>
		<string>doRepeatStimOne</string>
		<string>doRepeatStimTwo</string>
		<string>doRandStimOne</string>
		<string>doRandStimTwo</string>
		<string>doSameStims</string>
		<string>doStimOneOffChance</string>
		<string>doRandSF</string>
		<string>sync</string>
		<string>ntrials</string>
		<string>cItiStart</string>
		<string>cStimOneOn</string>
		<string>cStimOneOff</string>
		<string>cStimTwoOn</string>
		<string>cStimTwoOff</string>
		<string>tisiTimeMs</string>
		<string>tstimOne</string>
		<string>tstimTwo</string>
		<string>tisiTimeFrames</string>
		<string>titiTimeFrames</string>
		<string>tstimOnTimeFrames</string>
		<string>tTempStim</string>
		<string>tTempStim2</string>
		<string>tDoGratingStim</string>
		<string>tGratingSpatialFreqCPD</string>
		<string>svStimNumber</string>
		<string>svStimNumber2</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
