<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/Lego_LG.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>debuggerActive</string>
		<string>debuggerRunning</string>
		<string>debuggerStep</string>
		<string>subjectNum</string>
		<string>experimentXmlTrialId</string>
		<string>optic_device</string>
		<string>stationaryPeriodMs</string>
		<string>stationaryThreshold</string>
		<string>itiTimeMs</string>
		<string>delayTimeMs</string>
		<string>reactionTimeMs</string>
		<string>tooFastTimeMs</string>
		<string>stimOnTimeMs</string>
		<string>invertDirection</string>
		<string>doOnlyMaxDiff</string>
		<string>rewardTimeUs</string>
		<string>doFeedbackMotion</string>
		<string>gratingTargetEccentricity</string>
		<string>feedbackMotionSensitivity</string>
		<string>doBlocks</string>
		<string>blockLeftTrs</string>
		<string>blockRightTrs</string>
		<string>doCorrectiveTrials</string>
		<string>doRewardStaircase</string>
		<string>rewardStaircaseWindowWidth</string>
		<string>rewardStaircaseMinReward</string>
		<string>rewardStaircaseMaxReward</string>
		<string>doConsecCorrectReward</string>
		<string>consecCorrRewardInterval</string>
		<string>maxConsecCorrects</string>
		<string>ignoreTimeoutMs</string>
		<string>incorrectTimeoutMs</string>
		<string>doMarkovLR</string>
		<string>doBiasStaircase</string>
		<string>doRandProb</string>
		<string>RandProbTrialperBlock</string>
		<string>ProbList</string>
		<string>tLeftBias</string>
		<string>stimProbAvgLeft</string>
		<string>stimProbAvgSwitch</string>
		<string>tMarkovOdds</string>
		<string>a</string>
		<string>b</string>
		<string>doTestRobot</string>
		<string>doAllCorrects</string>
		<string>robotLeftProb</string>
		<string>robotGoLeft</string>
		<string>doBlock2</string>
		<string>tBlock2TrialNumber</string>
		<string>startSoundVolume</string>
		<string>goSoundVolume</string>
		<string>correctSoundVolume</string>
		<string>incorrectSoundVolume</string>
		<string>whiteNoiseSoundVolume</string>
		<string>gratingMaxContrast</string>
		<string>gratingContrastSPO</string>
		<string>gratingMaxDiff</string>
		<string>gratingContrastDiffSPO</string>
		<string>gratingEccentricityDeg</string>
		<string>gratingElevationDeg</string>
		<string>gratingDirectionDeg</string>
		<string>gratingHeightDeg</string>
		<string>gratingWidthDeg</string>
		<string>gratingSpatialFreqCPD</string>
		<string>gratingSpeedDPS</string>
		<string>gratingStartingPhaseDeg</string>
		<string>rewardGratingStartingPhaseDeg</string>
		<string>trPer80Level1</string>
		<string>trPer80Level2</string>
		<string>trPer80Level3</string>
		<string>trPer80Level4</string>
		<string>trPer80Level5</string>
		<string>trPer80Level6</string>
		<string>trPer80Level7</string>
		<string>trPer80Level8</string>
		<string>doLeftSeparateOdds</string>
		<string>leftTrPer80Level1</string>
		<string>leftTrPer80Level2</string>
		<string>leftTrPer80Level3</string>
		<string>leftTrPer80Level4</string>
		<string>leftTrPer80Level5</string>
		<string>leftTrPer80Level6</string>
		<string>leftTrPer80Level7</string>
		<string>leftTrPer80Level8</string>
		<string>doLaserStim</string>
		<string>laserPeakMaxMw</string>
		<string>laserPeakStepsPerOctave</string>
		<string>laserOffPowerMw</string>
		<string>laserTransitionRampUpDownMs</string>
		<string>laserTransitionDoExpRamp</string>
		<string>laserBaselinePowerMw</string>
		<string>laserBaselinePostStimTimeMs</string>
		<string>laserDoLinearRamp</string>
		<string>laserRampLengthMs</string>
		<string>laserRampExtraConstantLengthMs</string>
		<string>laserRampDoExpRamp</string>
		<string>laserDoPulseTrain</string>
		<string>laserPulseLengthMs</string>
		<string>laserPulsePeriodMs</string>
		<string>laserTrainLengthMs</string>
		<string>laserTrainRandomNPulses</string>
		<string>laserTrainRandomType</string>
		<string>trialLaserPowerMw</string>
		<string>trialLaserOnTimeMs</string>
		<string>trialLaserOffTimeMs</string>
		<string>doBlock2SeparateOdds</string>
		<string>block2TrPer80Level1</string>
		<string>block2TrPer80Level2</string>
		<string>block2TrPer80Level3</string>
		<string>block2TrPer80Level4</string>
		<string>block2TrPer80Level5</string>
		<string>block2TrPer80Level6</string>
		<string>block2TrPer80Level7</string>
		<string>block2TrPer80Level8</string>
		<string>block2DoTrialLaser</string>
		<string>block2TrialLaserPowerMw</string>
		<string>block2TrialLaserOnTimeMs</string>
		<string>block2TrialLaserOffTimeMs</string>
		<string>block2DoRampLength</string>
		<string>block2RampLengthMs2</string>
		<string>block2RampLengthPowerMaxMw2</string>
		<string>block2DoRampVTrain</string>
		<string>block2RvtTrainPowerMaxMw</string>
		<string>block2RvtTrainStepsPerOctave</string>
		<string>block2RvtRampBaselinePowerMw</string>
		<string>block2RvtTrainBaselinePowerMw</string>
		<string>doBlock2SecondLaser</string>
		<string>tLaserPowerMw</string>
		<string>tLaserDoLinearRamp</string>
		<string>tLaserDoPulseTrain</string>
		<string>tLaserRampLengthMs</string>
		<string>tLaserPeakMaxMw</string>
		<string>tLaserBaselinePowerMw</string>
		<string>tLaserPeakStepsPerOctave</string>
		<string>tTrialLaserPowerMw</string>
		<string>tTrialLaserPowerMw_trigger</string>
		<string>tTrialLaserOnTimeMs</string>
		<string>tTrialLaserOffTimeMs</string>
		<string>stimulusOn</string>
		<string>success</string>
		<string>incorrect</string>
		<string>ignore</string>
		<string>trialStartTimeMs</string>
		<string>stimTimestampMs</string>
		<string>actualHoldTimeMs</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>quadrature</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>counter</string>
		<string>counter2</string>
		<string>sendLaserParams</string>
		<string>sendSerialParams</string>
		<string>tCounter2</string>
		<string>ttCounter2</string>
		<string>tDecisionTimeMs</string>
		<string>tLastTrialWasLeft</string>
		<string>tLeftTrial</string>
		<string>tStimProbAvgLeft</string>
		<string>leftDecisionThreshold</string>
		<string>rightDecisionThreshold</string>
		<string>tGratingEccentricityStart</string>
		<string>tGratingEccentricityDeg</string>
		<string>dGratingEccentricityDeg</string>
		<string>tGratingContrast</string>
		<string>dGratingContrast</string>
		<string>dGratingContrastDiff</string>
		<string>tGratingDirectionDeg</string>
		<string>tRewardTimeUs</string>
		<string>isNotTooFast</string>
		<string>stimIsOff</string>
		<string>qStimOn</string>
		<string>qTrialStart</string>
		<string>qStartReact</string>
		<string>tTrialsDoneSinceStart</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>tLastTrialCorrect</string>
		<string>tConsecCorrects</string>
		<string>tConsecErrors</string>
		<string>tNTrialsCompleted</string>
		<string>tNBlockLeftTrsCompleted</string>
		<string>tNBlockRightTrsCompleted</string>
		<string>tRandProbIndex</string>
		<string>tRandProbIndexLast</string>
		<string>rrStimulusNumber</string>
		<string>tStimulusNumber</string>
		<string>tStimulusNumber2</string>
		<string>tSvStimNumber</string>
		<string>tSvStimNumber2</string>
		<string>tTempStimOdds</string>
		<string>tNStimAccepted</string>
		<string>tNStimAccepted2</string>
		<string>svStimNumber</string>
		<string>svStimNumber2</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
