<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/CerebellarStim.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>debuggerActive</string>
		<string>debuggerRunning</string>
		<string>debuggerStep</string>
		<string>subjectNum</string>
		<string>experimentXmlTrialId</string>
		<string>optic_device</string>
		<string>stopAfterNTrials</string>
		<string>tactileStimulusDurationUs</string>
		<string>solenoidStimulusDurationMs</string>
		<string>soundDurationMs</string>
		<string>postSoundPauseDurationMs</string>
		<string>itiIntervalMs</string>
		<string>checkMovementMs</string>
		<string>DoVisualStimRand</string>
		<string>VStimTotalMS</string>
		<string>MaxVSDurationMS</string>
		<string>MinVSDurationMS</string>
		<string>MaxVSDelayMS</string>
		<string>DoSoundStim</string>
		<string>DoTactileStim</string>
		<string>DoSolenoid</string>
		<string>DoMovingDot</string>
		<string>DoMotionReverse</string>
		<string>MovingDotDurationMS</string>
		<string>MaxReverseDelayMS</string>
		<string>MinReverseDelayMS</string>
		<string>ReverseDurationMS</string>
		<string>DotDirectionDeg</string>
		<string>DotDensity</string>
		<string>DotSizeDeg</string>
		<string>setDotCoherence</string>
		<string>DotSpeedBaseline</string>
		<string>DotFieldRadius</string>
		<string>Dot_x</string>
		<string>Dot_y</string>
		<string>setDotContrast</string>
		<string>DoWheelspeed</string>
		<string>speedIntervalUS</string>
		<string>itiNFrames</string>
		<string>postSoundPauseNFrames</string>
		<string>TStimNFrames</string>
		<string>checkNFrames</string>
		<string>VSDelayNFrames</string>
		<string>VSOnNFrames</string>
		<string>VSOffNFrames</string>
		<string>MovingDotTotalNFrames</string>
		<string>ReverseDelayNFrames</string>
		<string>ReverseNFrames</string>
		<string>frameImagingDurationMs</string>
		<string>BinSize</string>
		<string>requiredRunningBins</string>
		<string>BinTimeUS</string>
		<string>requiredPulseperBin</string>
		<string>DoCerebellarStim</string>
		<string>DoVisualStim_running</string>
		<string>soundstimulusOn</string>
		<string>trialStart</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>lever_solenoid</string>
		<string>laserTrigger</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>counter</string>
		<string>quadrature</string>
		<string>binSize</string>
		<string>running_Bincriteria</string>
		<string>binTimeUS</string>
		<string>startStimulus</string>
		<string>MouseIsRunning</string>
		<string>docerebellarStim</string>
		<string>pulse_criteria</string>
		<string>checkRunState</string>
		<string>wheelSpeed</string>
		<string>tCounter</string>
		<string>tTactileStimulusDurationUs</string>
		<string>tTactileStimTurnedOn</string>
		<string>tTrialsDoneSinceStart</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>frameCountN</string>
		<string>tVisualStimOnMS</string>
		<string>tVisualStimOffMS</string>
		<string>tVisualStimDelayMS</string>
		<string>tVisualStimTurnedOnMs</string>
		<string>tVisualStimTurnedOffMs</string>
		<string>tResistanceStartMS</string>
		<string>tReverseVStimTimeMs</string>
		<string>tReverseDelayMS</string>
		<string>tDotDirectionDeg</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
