<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/Lego.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>debuggerActive</string>
		<string>debuggerRunning</string>
		<string>debuggerStep</string>
		<string>subjectNum</string>
		<string>experimentXmlTrialId</string>
		<string>itiTimeMs</string>
		<string>delayTimeMs</string>
		<string>reactionTimeMs</string>
		<string>leftDecisionThreshold</string>
		<string>leftReversalThreshold</string>
		<string>rightDecisionThreshold</string>
		<string>rightReversalThreshold</string>
		<string>tooFastTimeMs</string>
		<string>rewardTimeUs</string>
		<string>feedbackMotionSensitivity</string>
		<string>doFeedbackMotion</string>
		<string>feedbackMotionStartingEccentricity</string>
		<string>feedbackMotionScreenWidthDeg</string>
		<string>doMatchToTarget</string>
		<string>doEitherWay</string>
		<string>doBlocks</string>
		<string>blockLeftTrs</string>
		<string>blockRightTrs</string>
		<string>doRewardStaircase</string>
		<string>rewardStaircaseWindowWidth</string>
		<string>tLeftBias</string>
		<string>rewardStaircaseMinReward</string>
		<string>rewardStaircaseMaxReward</string>
		<string>doBiasStaircase</string>
		<string>ignoreTimeoutMs</string>
		<string>incorrectTimeoutMs</string>
		<string>tMarkovOdds</string>
		<string>a</string>
		<string>b</string>
		<string>stimProbAvgLeft</string>
		<string>stimProbAvgSwitch</string>
		<string>doTestRobot</string>
		<string>robotLeftProb</string>
		<string>startSoundVolume</string>
		<string>correctSoundVolume</string>
		<string>incorrectSoundVolume</string>
		<string>gratingMaxContrast</string>
		<string>gratingMaxDiff</string>
		<string>gratingContrastSPO</string>
		<string>gratingElevationDeg</string>
		<string>gratingDirectionDeg</string>
		<string>gratingHeightDeg</string>
		<string>gratingWidthDeg</string>
		<string>gratingSpatialFreqCPD</string>
		<string>gratingSpeedDPS</string>
		<string>gratingStartingPhaseDeg</string>
		<string>gratingEccentricityDeg</string>
		<string>cursorGratingElevationDeg</string>
		<string>cursorGratingContrast</string>
		<string>cursorGratingHeightDeg</string>
		<string>cursorGratingWidthDeg</string>
		<string>cursorGratingSpatialFreqCPD</string>
		<string>cursorGratingSpeedDPS</string>
		<string>cursorGratingStartingPhaseDeg</string>
		<string>cursorGratingEccentricityDeg</string>
		<string>trPer80Level1</string>
		<string>trPer80Level2</string>
		<string>trPer80Level3</string>
		<string>trPer80Level4</string>
		<string>trPer80Level5</string>
		<string>trPer80Level6</string>
		<string>trPer80Level7</string>
		<string>trPer80Level8</string>
		<string>stimulusOn</string>
		<string>success</string>
		<string>incorrect</string>
		<string>ignore</string>
		<string>trialStartTimeMs</string>
		<string>stimTimestampMs</string>
		<string>actualHoldTimeMs</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>FIO2</string>
		<string>quadrature</string>
		<string>laserTriggerFIO</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>counter</string>
		<string>counter2</string>
		<string>sendLaserParams</string>
		<string>sendSerialParams</string>
		<string>tCounter2</string>
		<string>ttCounter2</string>
		<string>tQuadrature</string>
		<string>tDecisionTimeMs</string>
		<string>tLeftReversal</string>
		<string>tRightReversal</string>
		<string>tLastTrialWasLeft</string>
		<string>tLeftTrial</string>
		<string>tStimProbAvgLeft</string>
		<string>tGratingEccentricityDeg</string>
		<string>dGratingEccentricityDeg</string>
		<string>tGratingContrast</string>
		<string>dGratingContrast</string>
		<string>tGratingDirectionDeg</string>
		<string>tTrialsDoneSinceStart</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>tLastTrialCorrect</string>
		<string>tConsecCorrects</string>
		<string>tConsecErrors</string>
		<string>tNTrialsCompleted</string>
		<string>tNBlockLeftTrsCompleted</string>
		<string>tNBlockRightTrsCompleted</string>
		<string>rrStimulusNumber</string>
		<string>tStimulusNumber</string>
		<string>tSvStimNumber</string>
		<string>tTempStimOdds</string>
		<string>tNStimAccepted</string>
		<string>svStimNumber</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
