<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/twoStim_2P_Frames.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>experimentXmlTrialId</string>
		<string>optic_device</string>
		<string>subjectNum</string>
		<string>doMatrix</string>
		<string>doRandISITime</string>
		<string>doRandStimOnTime</string>
		<string>doRandCon</string>
		<string>doZeroCon</string>
		<string>zeroConPer80</string>
		<string>doRandDir</string>
		<string>doRandPos</string>
		<string>doRandDiameter</string>
		<string>doRandSF</string>
		<string>doRandTF</string>
		<string>doRandPhase</string>
		<string>doRotate</string>
		<string>doRandSoundAmp</string>
		<string>doRandSoundFreq</string>
		<string>doWheelSpeed</string>
		<string>doCerebellarStim</string>
		<string>doMask</string>
		<string>fractMaskTrials</string>
		<string>doRandMaskCon</string>
		<string>doRandMaskDir</string>
		<string>doRandMaskPhase</string>
		<string>doMaskRotate</string>
		<string>doBlock2</string>
		<string>doBlock2SeparateOdds</string>
		<string>block2TrPer80</string>
		<string>block2MatchB1VisStim</string>
		<string>block2MatchB1AudStim</string>
		<string>block2DoMatrix</string>
		<string>block2DoMask</string>
		<string>block2DoRandISITime</string>
		<string>block2DoRandStimOnTime</string>
		<string>block2DoRandCon</string>
		<string>block2DoZeroCon</string>
		<string>block2ZeroConPer80</string>
		<string>block2DoRandDir</string>
		<string>block2DoRandPos</string>
		<string>block2DoRandDiameter</string>
		<string>block2DoRandSF</string>
		<string>block2DoRandTF</string>
		<string>block2DoRandPhase</string>
		<string>block2DoRandMaskPhase</string>
		<string>block2DoRotate</string>
		<string>block2DoRandSoundAmp</string>
		<string>block2DoRandSoundFreq</string>
		<string>block2DoRandMaskDir</string>
		<string>block2DoRandMaskCon</string>
		<string>block2DoMaskRotate</string>
		<string>block2ISITimeMs</string>
		<string>block2ISITimeN</string>
		<string>block2ISITimeStepLog</string>
		<string>frameRateHz</string>
		<string>itiTimeMs</string>
		<string>doExtendItiOnShortPrevTrial</string>
		<string>isiTimeMs</string>
		<string>isiTimeN</string>
		<string>isiTimeStepLog</string>
		<string>gratingRotateSpeedDPS</string>
		<string>speedIntervalMS</string>
		<string>wheelSpeed</string>
		<string>stimOneDoVisualStim</string>
		<string>stimOneDoAuditoryStim</string>
		<string>stimOneGratingOnTimeMs</string>
		<string>stimOneGratingOnTimeStepN</string>
		<string>stimOneGratingOnTimeStepLog</string>
		<string>stimOneGratingContrast</string>
		<string>stimOneGratingContrastStepN</string>
		<string>stimOneGratingContrastStepLog</string>
		<string>stimOneGratingDirectionDeg</string>
		<string>stimOneGratingDirectionStepN</string>
		<string>stimOneGratingDirectionStepDeg</string>
		<string>stimOneGratingElevationDeg</string>
		<string>stimOneGratingElevationStepN</string>
		<string>stimOneGratingElevationStepDeg</string>
		<string>stimOneGratingAzimuthDeg</string>
		<string>stimOneGratingAzimuthStepN</string>
		<string>stimOneGratingAzimuthStepDeg</string>
		<string>stimOneGratingDiameterDeg</string>
		<string>stimOneGratingDiameterStepN</string>
		<string>stimOneGratingDiameterStepLog</string>
		<string>stimOneGratingSpatialFreqCPD</string>
		<string>stimOneGratingSpatialFreqStepN</string>
		<string>stimOneGratingSpatialFreqStepLog</string>
		<string>stimOneGratingTemporalFreqCPS</string>
		<string>stimOneGratingTemporalFreqStepN</string>
		<string>stimOneGratingTemporalFreqStepLog</string>
		<string>stimOneGratingPhaseDeg</string>
		<string>stimOneGratingPhaseStepN</string>
		<string>stimOneGratingPhaseStepDeg</string>
		<string>stimOneSoundAmplitude</string>
		<string>stimOneSoundAmplitudeStepN</string>
		<string>stimOneSoundAmplitudeStepLog</string>
		<string>stimOneSound1Amplitude</string>
		<string>stimOneSound2Amplitude</string>
		<string>stimOneSound3Amplitude</string>
		<string>stimOneSound4Amplitude</string>
		<string>stimOneSound5Amplitude</string>
		<string>maskOneGratingContrast</string>
		<string>maskOneGratingContrastStepN</string>
		<string>maskOneGratingContrastStepLog</string>
		<string>maskOneGratingDirectionDeg</string>
		<string>maskOneGratingDirectionStepN</string>
		<string>maskOneGratingDirectionStepDeg</string>
		<string>maskOneGratingPhaseDeg</string>
		<string>maskOneGratingPhaseStepN</string>
		<string>maskOneGratingPhaseStepDeg</string>
		<string>matchStimOneParameters</string>
		<string>stimTwoDoVisualStim</string>
		<string>stimTwoDoAuditoryStim</string>
		<string>stimTwoGratingOnTimeMs</string>
		<string>stimTwoGratingOnTimeStepN</string>
		<string>stimTwoGratingOnTimeStepLog</string>
		<string>stimTwoGratingContrast</string>
		<string>stimTwoGratingContrastStepN</string>
		<string>stimTwoGratingContrastStepLog</string>
		<string>stimTwoGratingDirectionDeg</string>
		<string>stimTwoGratingDirectionStepN</string>
		<string>stimTwoGratingDirectionStepDeg</string>
		<string>stimTwoGratingElevationDeg</string>
		<string>stimTwoGratingElevationStepN</string>
		<string>stimTwoGratingElevationStepDeg</string>
		<string>stimTwoGratingAzimuthDeg</string>
		<string>stimTwoGratingAzimuthStepN</string>
		<string>stimTwoGratingAzimuthStepDeg</string>
		<string>stimTwoGratingDiameterDeg</string>
		<string>stimTwoGratingDiameterStepN</string>
		<string>stimTwoGratingDiameterStepLog</string>
		<string>stimTwoGratingSpatialFreqCPD</string>
		<string>stimTwoGratingSpatialFreqStepN</string>
		<string>stimTwoGratingSpatialFreqStepLog</string>
		<string>stimTwoGratingTemporalFreqCPS</string>
		<string>stimTwoGratingTemporalFreqStepN</string>
		<string>stimTwoGratingTemporalFreqStepLog</string>
		<string>stimTwoGratingPhaseDeg</string>
		<string>stimTwoGratingPhaseStepN</string>
		<string>stimTwoGratingPhaseStepDeg</string>
		<string>stimTwoSoundAmplitude</string>
		<string>stimTwoSoundAmplitudeStepN</string>
		<string>stimTwoSoundAmplitudeStepLog</string>
		<string>stimTwoSound1Amplitude</string>
		<string>stimTwoSound2Amplitude</string>
		<string>stimTwoSound3Amplitude</string>
		<string>stimTwoSound4Amplitude</string>
		<string>stimTwoSound5Amplitude</string>
		<string>maskTwoGratingContrast</string>
		<string>maskTwoGratingContrastStepN</string>
		<string>maskTwoGratingContrastStepLog</string>
		<string>maskTwoGratingDirectionDeg</string>
		<string>maskTwoGratingDirectionStepN</string>
		<string>maskTwoGratingDirectionStepDeg</string>
		<string>maskTwoGratingPhaseDeg</string>
		<string>maskTwoGratingPhaseStepN</string>
		<string>maskTwoGratingPhaseStepDeg</string>
		<string>block2DoTrialLaser</string>
		<string>block2TrialLaserPowerMw</string>
		<string>block2TrialLaserOnTimeMs</string>
		<string>block2TrialLaserOffTimeMs</string>
		<string>block2StimOneDoVisualStim</string>
		<string>block2StimOneDoAuditoryStim</string>
		<string>block2StimOneGratingOnTimeMs</string>
		<string>block2StimOneGratingOnTimeStepN</string>
		<string>block2StimOneGratingOnTimeStepLog</string>
		<string>block2StimOneGratingContrast</string>
		<string>block2StimOneGratingContrastStepN</string>
		<string>block2StimOneGratingContrastStepLog</string>
		<string>block2StimOneGratingDirectionDeg</string>
		<string>block2StimOneGratingDirectionStepN</string>
		<string>block2StimOneGratingDirectionStepDeg</string>
		<string>block2StimOneGratingElevationDeg</string>
		<string>block2StimOneGratingElevationStepN</string>
		<string>block2StimOneGratingElevationStepDeg</string>
		<string>block2StimOneGratingAzimuthDeg</string>
		<string>block2StimOneGratingAzimuthStepN</string>
		<string>block2StimOneGratingAzimuthStepDeg</string>
		<string>block2StimOneGratingDiameterDeg</string>
		<string>block2StimOneGratingDiameterStepN</string>
		<string>block2StimOneGratingDiameterStepLog</string>
		<string>block2StimOneGratingSpatialFreqCPD</string>
		<string>block2StimOneGratingSpatialFreqStepN</string>
		<string>block2StimOneGratingSpatialFreqStepLog</string>
		<string>block2StimOneGratingTemporalFreqCPS</string>
		<string>block2StimOneGratingTemporalFreqStepN</string>
		<string>block2StimOneGratingTemporalFreqStepLog</string>
		<string>block2StimOneGratingPhaseDeg</string>
		<string>block2StimOneGratingPhaseStepN</string>
		<string>block2StimOneGratingPhaseStepDeg</string>
		<string>block2StimOneSoundAmplitude</string>
		<string>block2StimOneSoundAmplitudeStepN</string>
		<string>block2StimOneSoundAmplitudeStepLog</string>
		<string>block2StimOneSound1Amplitude</string>
		<string>block2StimOneSound2Amplitude</string>
		<string>block2StimOneSound3Amplitude</string>
		<string>block2StimOneSound4Amplitude</string>
		<string>block2StimOneSound5Amplitude</string>
		<string>block2MaskOneGratingContrast</string>
		<string>block2MaskOneGratingContrastStepN</string>
		<string>block2MaskOneGratingContrastStepLog</string>
		<string>block2MaskOneGratingDirectionDeg</string>
		<string>block2MaskOneGratingDirectionStepN</string>
		<string>block2MaskOneGratingDirectionStepDeg</string>
		<string>block2MaskOneGratingPhaseDeg</string>
		<string>block2MaskOneGratingPhaseStepN</string>
		<string>block2MaskOneGratingPhaseStepDeg</string>
		<string>block2MatchStimOneParameters</string>
		<string>block2StimTwoDoVisualStim</string>
		<string>block2StimTwoDoAuditoryStim</string>
		<string>block2StimTwoGratingOnTimeMs</string>
		<string>block2StimTwoGratingOnTimeStepN</string>
		<string>block2StimTwoGratingOnTimeStepLog</string>
		<string>block2StimTwoGratingContrast</string>
		<string>block2StimTwoGratingContrastStepN</string>
		<string>block2StimTwoGratingContrastStepLog</string>
		<string>block2StimTwoGratingDirectionDeg</string>
		<string>block2StimTwoGratingDirectionStepN</string>
		<string>block2StimTwoGratingDirectionStepDeg</string>
		<string>block2StimTwoGratingElevationDeg</string>
		<string>block2StimTwoGratingElevationStepN</string>
		<string>block2StimTwoGratingElevationStepDeg</string>
		<string>block2StimTwoGratingAzimuthDeg</string>
		<string>block2StimTwoGratingAzimuthStepN</string>
		<string>block2StimTwoGratingAzimuthStepDeg</string>
		<string>block2StimTwoGratingDiameterDeg</string>
		<string>block2StimTwoGratingDiameterStepN</string>
		<string>block2StimTwoGratingDiameterStepLog</string>
		<string>block2StimTwoGratingSpatialFreqCPD</string>
		<string>block2StimTwoGratingSpatialFreqStepN</string>
		<string>block2StimTwoGratingSpatialFreqStepLog</string>
		<string>block2StimTwoGratingTemporalFreqCPS</string>
		<string>block2StimTwoGratingTemporalFreqStepN</string>
		<string>block2StimTwoGratingTemporalFreqStepLog</string>
		<string>block2StimTwoGratingPhaseDeg</string>
		<string>block2StimTwoGratingPhaseStepN</string>
		<string>block2StimTwoGratingPhaseStepDeg</string>
		<string>block2StimTwoSoundAmplitude</string>
		<string>block2StimTwoSoundAmplitudeStepN</string>
		<string>block2StimTwoSoundAmplitudeStepLog</string>
		<string>block2StimTwoSound1Amplitude</string>
		<string>block2StimTwoSound2Amplitude</string>
		<string>block2StimTwoSound3Amplitude</string>
		<string>block2StimTwoSound4Amplitude</string>
		<string>block2StimTwoSound5Amplitude</string>
		<string>block2MaskTwoGratingContrast</string>
		<string>block2MaskTwoGratingContrastStepN</string>
		<string>block2MaskTwoGratingContrastStepLog</string>
		<string>block2MaskTwoGratingDirectionDeg</string>
		<string>block2MaskTwoGratingDirectionStepN</string>
		<string>block2MaskTwoGratingDirectionStepDeg</string>
		<string>block2MaskTwoGratingPhaseDeg</string>
		<string>block2MaskTwoGratingPhaseStepN</string>
		<string>block2MaskTwoGratingPhaseStepDeg</string>
		<string>Do2LED</string>
		<string>LED_sequence</string>
		<string>gratingType</string>
		<string>maskType</string>
		<string>gratingMean</string>
		<string>gratingStd</string>
		<string>gratingEdge</string>
		<string>doPhotodiode</string>
		<string>photoStimulusContrast</string>
		<string>photoStimulusAzimuth</string>
		<string>photoStimulusElevation</string>
		<string>photoStimulusWidth</string>
		<string>photoStimulusHeight</string>
		<string>photoMaskSpatialFreq</string>
		<string>trialStart</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>MIO0</string>
		<string>laserTrigger</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>sendLaserParams</string>
		<string>sendSerialParams</string>
		<string>counter</string>
		<string>do2led</string>
		<string>LED_durationMS</string>
		<string>led1_status</string>
		<string>led2_status</string>
		<string>led_seq</string>
		<string>quadrature</string>
		<string>ntrials</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tItiWaitTimeMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>lastTrialTimeMs</string>
		<string>tempMs</string>
		<string>tTempStim1</string>
		<string>tTempStim2</string>
		<string>tTempMask1</string>
		<string>tTempMask2</string>
		<string>multVal</string>
		<string>tStimulusNumber</string>
		<string>tStimulusNumber2</string>
		<string>tMaskNumber</string>
		<string>tMaskNumber2</string>
		<string>tDoMatrix</string>
		<string>tDoRandISITime</string>
		<string>tDoRandStimOnTime</string>
		<string>tDoRandCon</string>
		<string>tDoMask</string>
		<string>tDoRandMaskCon</string>
		<string>tDoRandDir</string>
		<string>tDoRandMaskDir</string>
		<string>tDoRandPos</string>
		<string>tDoRandDiameter</string>
		<string>tDoRandSF</string>
		<string>tDoRandTF</string>
		<string>tDoRandPhase</string>
		<string>tDoRotate</string>
		<string>tDoMaskRotate</string>
		<string>tDoRandMaskPhase</string>
		<string>tDoRandSoundAmp</string>
		<string>tDoRandSoundFreq</string>
		<string>tStimOneGratingOnTimeMs</string>
		<string>tStimTwoGratingOnTimeMs</string>
		<string>tISITimeMs</string>
		<string>maxStimOnTime</string>
		<string>maxISITime</string>
		<string>tStimOneGratingDirectionDeg</string>
		<string>setStimOneGratingDirectionDeg</string>
		<string>setMaskOneGratingDirectionDeg</string>
		<string>tStimOneGratingContrast</string>
		<string>tStimOneGratingElevationDeg</string>
		<string>tStimOneGratingAzimuthDeg</string>
		<string>tStimOneGratingDiameterDeg</string>
		<string>tStimOneGratingSpatialFreqCPD</string>
		<string>tStimOneGratingTemporalFreqCPS</string>
		<string>tStimOneGratingPhaseDeg</string>
		<string>tStimOneSoundAmplitude</string>
		<string>tStimOneSound1Amplitude</string>
		<string>tStimOneSound2Amplitude</string>
		<string>tStimOneSound3Amplitude</string>
		<string>tStimOneSound4Amplitude</string>
		<string>tStimOneSound5Amplitude</string>
		<string>tMaskOneGratingDirectionDeg</string>
		<string>tMaskOneGratingContrast</string>
		<string>tMaskOneGratingPhaseDeg</string>
		<string>tStimTwoGratingDirectionDeg</string>
		<string>tStimTwoGratingContrast</string>
		<string>tStimTwoGratingElevationDeg</string>
		<string>tStimTwoGratingAzimuthDeg</string>
		<string>tStimTwoGratingDiameterDeg</string>
		<string>tStimTwoGratingSpatialFreqCPD</string>
		<string>tStimTwoGratingTemporalFreqCPS</string>
		<string>tStimTwoGratingPhaseDeg</string>
		<string>tStimTwoSoundAmplitude</string>
		<string>tStimTwoSound1Amplitude</string>
		<string>tStimTwoSound2Amplitude</string>
		<string>tStimTwoSound3Amplitude</string>
		<string>tStimTwoSound4Amplitude</string>
		<string>tStimTwoSound5Amplitude</string>
		<string>tMaskTwoGratingDirectionDeg</string>
		<string>tMaskTwoGratingContrast</string>
		<string>tMaskTwoGratingPhaseDeg</string>
		<string>tStimOneDoVisualStim</string>
		<string>tStimOneDoAuditoryStim</string>
		<string>tStimTwoDoVisualStim</string>
		<string>tStimTwoDoAuditoryStim</string>
		<string>tTrialLaserPowerMw</string>
		<string>tTrialLaserOnTimeMs</string>
		<string>tTrialLaserOffTimeMs</string>
		<string>tBlock2TrialNumber</string>
		<string>tBlock2TrialLaserPowerMw</string>
		<string>tBlock2TrialLaserOnTimeMs</string>
		<string>tBlock2TrialLaserOffTimeMs</string>
		<string>isFirstTrial</string>
		<string>DoWheelSpeed</string>
		<string>speedIntervalUS</string>
		<string>tItiWaitFrames</string>
		<string>nStimOneFramesOn</string>
		<string>nStimTwoFramesOn</string>
		<string>nFramesISI</string>
		<string>nDegRotationPerFrame</string>
		<string>cItiStart</string>
		<string>cStimOneOn</string>
		<string>cStimOneOff</string>
		<string>cStimTwoOn</string>
		<string>cStimTwoOff</string>
		<string>cNow</string>
		<string>mwStimOneOnMs</string>
		<string>mwStimOneOffMs</string>
		<string>mwStimTwoOnMs</string>
		<string>mwStimTwoOffMs</string>
		<string>tNStimAccepted</string>
		<string>tNStimAccepted2</string>
		<string>tNMaskAccepted</string>
		<string>tNMaskAccepted2</string>
		<string>svStimNumber</string>
		<string>svStimNumber2</string>
		<string>svMaskNumber</string>
		<string>svMaskNumber2</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
