<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/adaptStim.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>debuggerActive</string>
		<string>debuggerRunning</string>
		<string>debuggerStep</string>
		<string>experimentXmlTrialId</string>
		<string>optic_device</string>
		<string>subjectNum</string>
		<string>doRandCon</string>
		<string>doRandDir</string>
		<string>doMask</string>
		<string>doRandMaskCon</string>
		<string>doRandMaskDir</string>
		<string>itiTimeMs</string>
		<string>initialAdaptTimeMs</string>
		<string>topUpAdaptTimeMs</string>
		<string>trialsPerAdaptBlock</string>
		<string>doWheelSpeed</string>
		<string>speedIntervalMS</string>
		<string>wheelSpeed</string>
		<string>sendElectrophysSync</string>
		<string>sendPClampSync</string>
		<string>adaptStimOnTimeMs</string>
		<string>adaptGratingContrast</string>
		<string>adaptGratingDirectionDeg</string>
		<string>adaptMaskGratingContrast</string>
		<string>adaptMaskGratingDirectionDegDiff</string>
		<string>testStimOnTimeMs</string>
		<string>testGratingContrast</string>
		<string>testGratingContrastStepN</string>
		<string>testGratingContrastStepLog</string>
		<string>testGratingContrastStepDir</string>
		<string>testGratingDirectionDeg</string>
		<string>testGratingDirectionStepN</string>
		<string>testGratingDirectionStepDeg</string>
		<string>maskGratingContrast</string>
		<string>maskGratingContrastStepN</string>
		<string>maskGratingContrastStepLog</string>
		<string>maskGratingContrastStepDir</string>
		<string>maskGratingDirectionDegDiff</string>
		<string>gratingElevationDeg</string>
		<string>gratingAzimuthDeg</string>
		<string>gratingDiameterDeg</string>
		<string>gratingSpatialFreqCPD</string>
		<string>gratingTemporalFreqCPS</string>
		<string>gratingPhaseDeg</string>
		<string>doPhotodiode</string>
		<string>photoStimulusContrast</string>
		<string>photoStimulusAzimuth</string>
		<string>photoStimulusElevation</string>
		<string>photoStimulusWidth</string>
		<string>photoStimulusHeight</string>
		<string>photoMaskSpatialFreq</string>
		<string>trialStart</string>
		<string>FIO1</string>
		<string>MIO0</string>
		<string>laserTrigger</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>sendLaserParams</string>
		<string>sendSerialParams</string>
		<string>quadrature</string>
		<string>ntrials</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tItiWaitTimeMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>lastTrialTimeMs</string>
		<string>tTempStim</string>
		<string>tTempMask</string>
		<string>tStimulusNumber</string>
		<string>tMaskNumber</string>
		<string>inAdapt</string>
		<string>tDoContingentAdapt</string>
		<string>tDoAsynchronousAdapt</string>
		<string>tDoRandCon</string>
		<string>tDoRandDir</string>
		<string>tItiTimeMs</string>
		<string>tAdaptTimeMs</string>
		<string>tAdaptGratingDirectionDeg</string>
		<string>tAdaptMaskGratingDirectionDeg</string>
		<string>tTestStimGratingDirectionDeg</string>
		<string>tTestMaskGratingDirectionDeg</string>
		<string>tAdaptGratingContrast</string>
		<string>tAdaptMaskGratingContrast</string>
		<string>tTestStimGratingContrast</string>
		<string>tTestMaskGratingContrast</string>
		<string>isFirstTrial</string>
		<string>doCerebellarStim</string>
		<string>DoWheelSpeed</string>
		<string>speedIntervalUS</string>
		<string>mwTestOnMs</string>
		<string>mwTestOffMs</string>
		<string>tNStimAccepted</string>
		<string>tNMaskAccepted</string>
		<string>svStimNumber</string>
		<string>svMaskNumber</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
