<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/flashingStimTest.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>debuggerActive</string>
		<string>debuggerRunning</string>
		<string>debuggerStep</string>
		<string>experimentXmlTrialId</string>
		<string>subjectNum</string>
		<string>optic_device</string>
		<string>doConstantStimulus</string>
		<string>doITIStim</string>
		<string>doVisualStim</string>
		<string>doLaserStim</string>
		<string>doLaserStimSteps</string>
		<string>doOriDetect</string>
		<string>doContrastDetect</string>
		<string>doRandBaseOri</string>
		<string>doRandBaseOriBySession</string>
		<string>doBlock2</string>
		<string>doAuditoryStim</string>
		<string>doAuditoryDetect</string>
		<string>doAuditoryCue</string>
		<string>doDeviantAfterMissing</string>
		<string>doCustomTargetTime</string>
		<string>doTrialLaser</string>
		<string>doNoResponse</string>
		<string>doPairedPulse</string>
		<string>doPulseLength</string>
		<string>doWheelSpeed</string>
		<string>doCerebellarStim</string>
		<string>block2DoVisualStim</string>
		<string>block2DoOriDetect</string>
		<string>block2DoContrastDetect</string>
		<string>block2DoAuditoryStim</string>
		<string>block2DoAuditoryDetect</string>
		<string>block2DoAuditoryCue</string>
		<string>block2DoTrialLaser</string>
		<string>block2DoMissAsCorrect</string>
		<string>block2DoNoResponse</string>
		<string>itiTimeMs</string>
		<string>stimOnTimeMs</string>
		<string>stimOffTimeMs</string>
		<string>targetOnTimeMs</string>
		<string>nextFrameTimeUs</string>
		<string>minCyclesOn</string>
		<string>maxCyclesOn</string>
		<string>tooFastTimeMs</string>
		<string>reactTimeMs</string>
		<string>doExtendItiOnShortPrevTrial</string>
		<string>doLongCatchTrial</string>
		<string>doRandStimOffTime</string>
		<string>minStimOffTimeMs</string>
		<string>maxStimOffTimeMs</string>
		<string>stimOffTimeIntervalMs</string>
		<string>doShortCatchTrial</string>
		<string>minShortCatchCycle</string>
		<string>minShortCatchTrial</string>
		<string>doShortCatchReward</string>
		<string>catchTrPerB2Level1</string>
		<string>catchTrPerB2Level2</string>
		<string>catchTrPerB2Level3</string>
		<string>catchTrPerB2Level4</string>
		<string>catchTrPerB2Level5</string>
		<string>catchTrPerB2Level6</string>
		<string>catchTrPerB2Level7</string>
		<string>catchTrPerB2Level8</string>
		<string>soundPressAmplitude</string>
		<string>soundBasePressAmplitude</string>
		<string>soundCueAmplitude</string>
		<string>soundBaseAmplitude</string>
		<string>soundIncorrectAmplitude</string>
		<string>soundRewardAmplitude</string>
		<string>soundTargetAmplitude</string>
		<string>soundTargetStepsPerOctave</string>
		<string>doLeverSolenoidAllTrials</string>
		<string>doLeverSolenoidOnMiss</string>
		<string>doLeverSolenoidOnEarly</string>
		<string>doSolenoidOnTimeout</string>
		<string>earlyTimeoutMs</string>
		<string>missedTimeoutMs</string>
		<string>nConsecErrorsCauseTimeout</string>
		<string>consecErrorTimeoutS</string>
		<string>speedIntervalMS</string>
		<string>wheelSpeed</string>
		<string>postRewardMs</string>
		<string>rewardUs</string>
		<string>interRewardIntervalMs</string>
		<string>rewardEveryNCorrect</string>
		<string>maxConsecCorrects</string>
		<string>baseGratingDirectionDeg</string>
		<string>baseGratingDirectionStepDeg</string>
		<string>baseGratingDirectionStepN</string>
		<string>baseGratingContrast</string>
		<string>gratingElevationDeg</string>
		<string>gratingAzimuthDeg</string>
		<string>gratingHeightDeg</string>
		<string>gratingWidthDeg</string>
		<string>gratingSpatialFreqCPD</string>
		<string>gratingSpeedDPS</string>
		<string>gratingStartingPhaseDeg</string>
		<string>trPer80Level1</string>
		<string>trPer80Level2</string>
		<string>trPer80Level3</string>
		<string>trPer80Level4</string>
		<string>trPer80Level5</string>
		<string>trPer80Level6</string>
		<string>trPer80Level7</string>
		<string>trPer80Level8</string>
		<string>dGratingContrast</string>
		<string>dGratingDirectionDeg</string>
		<string>dGratingElevationDeg</string>
		<string>dGratingAzimuthDeg</string>
		<string>gratingMaxContrastStep</string>
		<string>gratingContrastStepsPerOctave</string>
		<string>gratingMaxDirectionStepDeg</string>
		<string>gratingDirectionStepsPerOctave</string>
		<string>laserPeakMaxMw</string>
		<string>laserPeakStepsPerOctave</string>
		<string>laserBaselinePowerMw</string>
		<string>laserDoLinearRamp</string>
		<string>laserRampLengthMs</string>
		<string>laserDoPulseTrain</string>
		<string>laserPulseLengthMs</string>
		<string>laserPulsePeriodMs</string>
		<string>laserTrainLengthMs</string>
		<string>trialLaserPowerMw</string>
		<string>trialLaserOnTimeMs</string>
		<string>trialLaserOffTimeMs</string>
		<string>laserDuration</string>
		<string>laserDurationMS</string>
		<string>doBlock2SeparateOdds</string>
		<string>block2TrPer80Level1</string>
		<string>block2TrPer80Level2</string>
		<string>block2TrPer80Level3</string>
		<string>block2TrPer80Level4</string>
		<string>block2TrPer80Level5</string>
		<string>block2TrPer80Level6</string>
		<string>block2TrPer80Level7</string>
		<string>block2TrPer80Level8</string>
		<string>doBlock2SeparateReward</string>
		<string>block2RewardUs</string>
		<string>doBlock2SecondLaser</string>
		<string>block2DoRampLength</string>
		<string>block2RampLengthMs2</string>
		<string>block2RampLengthPowerMaxMw2</string>
		<string>block2StimOnTimeMs</string>
		<string>block2StimOffTimeMs</string>
		<string>block2TargetOnTimeMs</string>
		<string>block2MinCyclesOn</string>
		<string>block2MaxCyclesOn</string>
		<string>block2GratingElevationDeg</string>
		<string>block2GratingAzimuthDeg</string>
		<string>block2GratingHeightDeg</string>
		<string>block2GratingWidthDeg</string>
		<string>block2GratingSpatialFreqCPD</string>
		<string>block2GratingSpeedDPS</string>
		<string>block2BaseGratingContrast</string>
		<string>block2BaseGratingDirectionDeg</string>
		<string>block2GratingMaxContrastStep</string>
		<string>block2GratingContrastStepsPerOctave</string>
		<string>block2GratingMaxDirectionStepDeg</string>
		<string>block2GratingDirectionStepsPerOctave</string>
		<string>block2SoundTargetAmplitude</string>
		<string>block2SoundTargetStepsPerOctave</string>
		<string>block2DoRampVTrain</string>
		<string>block2RvtTrainPowerMaxMw</string>
		<string>block2RvtTrainStepsPerOctave</string>
		<string>block2RvtRampBaselinePowerMw</string>
		<string>block2RvtTrainBaselinePowerMw</string>
		<string>block2TrialLaserPowerMw</string>
		<string>block2TrialLaserPowerMw_track</string>
		<string>block2TrialLaserOnTimeMs</string>
		<string>block2TrialLaserOffTimeMs</string>
		<string>doPhotodiode</string>
		<string>photoStimulusContrast</string>
		<string>photoStimulusAzimuth</string>
		<string>photoStimulusElevation</string>
		<string>photoStimulusWidth</string>
		<string>photoStimulusHeight</string>
		<string>photoMaskSpatialFreq</string>
		<string>doLever</string>
		<string>doFakeMouseSuccessOnly</string>
		<string>sendElectrophysSync</string>
		<string>fakeMouseMaxReactMs</string>
		<string>failure</string>
		<string>leverResult</string>
		<string>stimulusOn</string>
		<string>success</string>
		<string>ignore</string>
		<string>trialStart</string>
		<string>pressTimestampMs</string>
		<string>actualHoldTimeMs</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>MIO0</string>
		<string>laserTrigger</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>sendLaserParams</string>
		<string>sendSerialParams</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tTotalReqHoldTimeMs</string>
		<string>tTotalStimTimeMs</string>
		<string>tTotalRewardTimeUs</string>
		<string>tFakeMouseReactMs</string>
		<string>tStartTrialWaitForPressTimeMs</string>
		<string>consecCorrects</string>
		<string>tConsecErrors</string>
		<string>tConsecTimeoutStartTime</string>
		<string>tNRewards</string>
		<string>tInterRewardIntervalMs</string>
		<string>tRewardAddPerMsHoldUs</string>
		<string>tGotLongBonusThisTrial</string>
		<string>tItiWaitTimeMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>lastActualHoldTimeMs</string>
		<string>tempMs</string>
		<string>tTempStimOdds</string>
		<string>tTempStimOddsCatch</string>
		<string>tStimulusNumber</string>
		<string>tSvStimNumber</string>
		<string>tSvCatchNumber</string>
		<string>tCatchNumber</string>
		<string>tLaserPowerMw</string>
		<string>tLaserDoLinearRamp</string>
		<string>tLaserDoPulseTrain</string>
		<string>tLaserRampLengthMs</string>
		<string>tLaserPeakMaxMw</string>
		<string>tLaserBaselinePowerMw</string>
		<string>tBaseGratingContrast</string>
		<string>tBaseGratingDirectionDeg</string>
		<string>tGratingMaxContrastStep</string>
		<string>tGratingContrastStepsPerOctave</string>
		<string>tGratingMaxDirectionStepDeg</string>
		<string>tGratingDirectionStepsPerOctave</string>
		<string>tSoundMaxTargetAmplitude</string>
		<string>tSoundTargetStepsPerOctave</string>
		<string>tLaserPeakStepsPerOctave</string>
		<string>tStimOnTimeMs</string>
		<string>tStimOffTimeMs</string>
		<string>tTargetOnTimeMs</string>
		<string>tMinCyclesOn</string>
		<string>tMaxCyclesOn</string>
		<string>tMinShortCatchCycle</string>
		<string>tGratingDirectionDeg</string>
		<string>tGratingContrast</string>
		<string>tGratingElevationDeg</string>
		<string>tGratingAzimuthDeg</string>
		<string>tGratingHeightDeg</string>
		<string>tGratingWidthDeg</string>
		<string>tGratingSpatialFreqCPD</string>
		<string>tGratingSpeedDPS</string>
		<string>tSoundCueAmplitude</string>
		<string>tSoundBasePressAmplitude</string>
		<string>tSoundBaseAmplitude</string>
		<string>tSoundTargetAmplitude</string>
		<string>tSoundCatchAmplitude</string>
		<string>tCatchGratingDirectionDeg</string>
		<string>tCatchGratingContrast</string>
		<string>tDoCatchContrastDetect</string>
		<string>tDoCatchOriDetect</string>
		<string>tDoCatchAuditoryDetect</string>
		<string>tDoNoResponse</string>
		<string>tDoVisualStim</string>
		<string>tDoAuditoryStim</string>
		<string>tDoAuditoryDetect</string>
		<string>tDoAuditoryCue</string>
		<string>tDoContrastDetect</string>
		<string>tDoOriDetect</string>
		<string>tDoDeviantAfterMissing</string>
		<string>tDidDeviantAfterMissing</string>
		<string>block2DoGratingAppearance</string>
		<string>tTrialLaserPowerMw</string>
		<string>tTrialLaserPowerMw_trigger</string>
		<string>tTrialLaserOnTimeMs</string>
		<string>tTrialLaserOffTimeMs</string>
		<string>tBlock2TrialNumber</string>
		<string>tLeverPressTimeMs</string>
		<string>tLeverReleaseTimeMs</string>
		<string>trials</string>
		<string>nCyclesOn</string>
		<string>tCyclesOn</string>
		<string>tCycleLaser</string>
		<string>stimTag</string>
		<string>timerDurationMs</string>
		<string>targetStimOnMs</string>
		<string>tStimTurnedOn</string>
		<string>tStimOnMs</string>
		<string>tStimOffMs</string>
		<string>tFrameDelayUs</string>
		<string>tempNCorrect</string>
		<string>startReactState</string>
		<string>isTooFast</string>
		<string>isEndState</string>
		<string>isCatchTrial</string>
		<string>tShortCatchTrial</string>
		<string>catchCyclesOn</string>
		<string>tFalseAlarm</string>
		<string>tCatchTimeMs</string>
		<string>DoWheelSpeed</string>
		<string>speedIntervalUS</string>
		<string>quadrature</string>
		<string>tNStimAccepted</string>
		<string>svStimNumber</string>
		<string>svCatchNumber</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
