<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/twoStim_2P_Frames.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>debuggerActive</string>
		<string>debuggerRunning</string>
		<string>debuggerStep</string>
		<string>experimentXmlTrialId</string>
		<string>optic_device</string>
		<string>subjectNum</string>
		<string>doMatrix</string>
		<string>doRandISITime</string>
		<string>doRandStimOnTime</string>
		<string>doRandCon</string>
		<string>doRandDir</string>
		<string>doRandPos</string>
		<string>doRandDiameter</string>
		<string>doRandSF</string>
		<string>doRandTF</string>
		<string>doRandPhase</string>
		<string>doRandSoundAmp</string>
		<string>doWheelSpeed</string>
		<string>doBlock2</string>
		<string>block2MatchB1VisStim</string>
		<string>block2ISITimeMs</string>
		<string>block2ISITimeN</string>
		<string>block2ISITimeSPO</string>
		<string>frameRateHz</string>
		<string>itiTimeMs</string>
		<string>doExtendItiOnShortPrevTrial</string>
		<string>isiTimeMs</string>
		<string>isiTimeN</string>
		<string>isiTimeSPO</string>
		<string>speedIntervalMS</string>
		<string>wheelSpeed</string>
		<string>stimOneDoVisualStim</string>
		<string>stimOneDoAuditoryStim</string>
		<string>stimOneOnTimeMs</string>
		<string>stimOneOnTimeStepN</string>
		<string>stimOneOnTimeSPO</string>
		<string>stimOneGratingContrast</string>
		<string>stimOneGratingContrastStepN</string>
		<string>stimOneGratingContrastSPO</string>
		<string>stimOneGratingDirectionDeg</string>
		<string>stimOneGratingDirectionStepN</string>
		<string>stimOneGratingDirectionStepDeg</string>
		<string>stimOneGratingElevationDeg</string>
		<string>stimOneGratingElevationStepN</string>
		<string>stimOneGratingElevationStepDeg</string>
		<string>stimOneGratingAzimuthDeg</string>
		<string>stimOneGratingAzimuthStepN</string>
		<string>stimOneGratingAzimuthStepDeg</string>
		<string>stimOneGratingDiameterDeg</string>
		<string>stimOneGratingDiameterStepN</string>
		<string>stimOneGratingDiameterSPO</string>
		<string>stimOneGratingSpatialFreqCPD</string>
		<string>stimOneGratingSpatialFreqStepN</string>
		<string>stimOneGratingSpatialFreqSPO</string>
		<string>stimOneGratingTemporalFreqCPS</string>
		<string>stimOneGratingTemporalFreqStepN</string>
		<string>stimOneGratingTemporalFreqSPO</string>
		<string>stimOneGratingPhaseDeg</string>
		<string>stimOneGratingPhaseStepN</string>
		<string>stimOneGratingPhaseStepDeg</string>
		<string>stimOneSoundAmplitude</string>
		<string>stimOneSoundAmplitudeStepN</string>
		<string>stimOneSoundAmplitudeSPO</string>
		<string>matchStimOneParameters</string>
		<string>stimTwoDoVisualStim</string>
		<string>stimTwoDoAuditoryStim</string>
		<string>stimTwoOnTimeMs</string>
		<string>stimTwoOnTimeStepN</string>
		<string>stimTwoOnTimeSPO</string>
		<string>stimTwoGratingContrast</string>
		<string>stimTwoGratingContrastStepN</string>
		<string>stimTwoGratingContrastSPO</string>
		<string>stimTwoGratingDirectionDeg</string>
		<string>stimTwoGratingDirectionStepN</string>
		<string>stimTwoGratingDirectionStepDeg</string>
		<string>stimTwoGratingElevationDeg</string>
		<string>stimTwoGratingElevationStepN</string>
		<string>stimTwoGratingElevationStepDeg</string>
		<string>stimTwoGratingAzimuthDeg</string>
		<string>stimTwoGratingAzimuthStepN</string>
		<string>stimTwoGratingAzimuthStepDeg</string>
		<string>stimTwoGratingDiameterDeg</string>
		<string>stimTwoGratingDiameterStepN</string>
		<string>stimTwoGratingDiameterSPO</string>
		<string>stimTwoGratingSpatialFreqCPD</string>
		<string>stimTwoGratingSpatialFreqStepN</string>
		<string>stimTwoGratingSpatialFreqSPO</string>
		<string>stimTwoGratingTemporalFreqCPS</string>
		<string>stimTwoGratingTemporalFreqStepN</string>
		<string>stimTwoGratingTemporalFreqSPO</string>
		<string>stimTwoGratingPhaseDeg</string>
		<string>stimTwoGratingPhaseStepN</string>
		<string>stimTwoGratingPhaseStepDeg</string>
		<string>stimTwoSoundAmplitude</string>
		<string>stimTwoSoundAmplitudeStepN</string>
		<string>stimTwoSoundAmplitudeSPO</string>
		<string>block2DoTrialLaser</string>
		<string>block2TrialLaserPowerMw</string>
		<string>block2TrialLaserOnTimeMs</string>
		<string>block2TrialLaserOffTimeMs</string>
		<string>block2StimOneDoVisualStim</string>
		<string>block2StimOneDoAuditoryStim</string>
		<string>block2StimOneOnTimeMs</string>
		<string>block2StimOneOnTimeStepN</string>
		<string>block2StimOneOnTimeSPO</string>
		<string>block2StimOneGratingContrast</string>
		<string>block2StimOneGratingContrastStepN</string>
		<string>block2StimOneGratingContrastSPO</string>
		<string>block2StimOneGratingDirectionDeg</string>
		<string>block2StimOneGratingDirectionStepN</string>
		<string>block2StimOneGratingDirectionStepDeg</string>
		<string>block2StimOneGratingElevationDeg</string>
		<string>block2StimOneGratingElevationStepN</string>
		<string>block2StimOneGratingElevationStepDeg</string>
		<string>block2StimOneGratingAzimuthDeg</string>
		<string>block2StimOneGratingAzimuthStepN</string>
		<string>block2StimOneGratingAzimuthStepDeg</string>
		<string>block2StimOneGratingDiameterDeg</string>
		<string>block2StimOneGratingDiameterStepN</string>
		<string>block2StimOneGratingDiameterSPO</string>
		<string>block2StimOneGratingSpatialFreqCPD</string>
		<string>block2StimOneGratingSpatialFreqStepN</string>
		<string>block2StimOneGratingSpatialFreqSPO</string>
		<string>block2StimOneGratingTemporalFreqCPS</string>
		<string>block2StimOneGratingTemporalFreqStepN</string>
		<string>block2StimOneGratingTemporalFreqSPO</string>
		<string>block2StimOneGratingPhaseDeg</string>
		<string>block2StimOneGratingPhaseStepN</string>
		<string>block2StimOneGratingPhaseStepDeg</string>
		<string>block2StimOneSoundAmplitude</string>
		<string>block2StimOneSoundAmplitudeStepN</string>
		<string>block2StimOneSoundAmplitudeSPO</string>
		<string>block2MatchStimOneParameters</string>
		<string>block2StimTwoDoVisualStim</string>
		<string>block2StimTwoDoAuditoryStim</string>
		<string>block2StimTwoOnTimeMs</string>
		<string>block2StimTwoOnTimeStepN</string>
		<string>block2StimTwoOnTimeSPO</string>
		<string>block2StimTwoGratingContrast</string>
		<string>block2StimTwoGratingContrastStepN</string>
		<string>block2StimTwoGratingContrastSPO</string>
		<string>block2StimTwoGratingDirectionDeg</string>
		<string>block2StimTwoGratingDirectionStepN</string>
		<string>block2StimTwoGratingDirectionStepDeg</string>
		<string>block2StimTwoGratingElevationDeg</string>
		<string>block2StimTwoGratingElevationStepN</string>
		<string>block2StimTwoGratingElevationStepDeg</string>
		<string>block2StimTwoGratingAzimuthDeg</string>
		<string>block2StimTwoGratingAzimuthStepN</string>
		<string>block2StimTwoGratingAzimuthStepDeg</string>
		<string>block2StimTwoGratingDiameterDeg</string>
		<string>block2StimTwoGratingDiameterStepN</string>
		<string>block2StimTwoGratingDiameterSPO</string>
		<string>block2StimTwoGratingSpatialFreqCPD</string>
		<string>block2StimTwoGratingSpatialFreqStepN</string>
		<string>block2StimTwoGratingSpatialFreqSPO</string>
		<string>block2StimTwoGratingTemporalFreqCPS</string>
		<string>block2StimTwoGratingTemporalFreqStepN</string>
		<string>block2StimTwoGratingTemporalFreqSPO</string>
		<string>block2StimTwoGratingPhaseDeg</string>
		<string>block2StimTwoGratingPhaseStepN</string>
		<string>block2StimTwoGratingPhaseStepDeg</string>
		<string>block2StimTwoSoundAmplitude</string>
		<string>block2StimTwoSoundAmplitudeStepN</string>
		<string>block2StimTwoSoundAmplitudeSPO</string>
		<string>Do2LED</string>
		<string>LED_sequence</string>
		<string>trialStart</string>
		<string>sync</string>
		<string>FIO1</string>
		<string>MIO0</string>
		<string>laserTrigger</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>sendLaserParams</string>
		<string>sendSerialParams</string>
		<string>counter</string>
		<string>do2led</string>
		<string>LED_durationMS</string>
		<string>led1_status</string>
		<string>led2_status</string>
		<string>led_seq</string>
		<string>ntrials</string>
		<string>tTrialStartMWTimestampMs</string>
		<string>tItiWaitTimeMs</string>
		<string>tThisTrialStartTimeMs</string>
		<string>tLastTrialStartTimeMs</string>
		<string>lastTrialTimeMs</string>
		<string>tempMs</string>
		<string>tTempStim1</string>
		<string>tTempStim2</string>
		<string>tStimulusNumber</string>
		<string>tStimulusNumber2</string>
		<string>tStimOneOnTimeMs</string>
		<string>tStimTwoOnTimeMs</string>
		<string>tISITimeMs</string>
		<string>maxStimOnTime</string>
		<string>maxISITime</string>
		<string>tStimOneGratingDirectionDeg</string>
		<string>tStimOneGratingContrast</string>
		<string>tStimOneGratingElevationDeg</string>
		<string>tStimOneGratingAzimuthDeg</string>
		<string>tStimOneGratingDiameterDeg</string>
		<string>tStimOneGratingSpatialFreqCPD</string>
		<string>tStimOneGratingTemporalFreqCPS</string>
		<string>tStimOneGratingPhaseDeg</string>
		<string>tStimOneSoundAmplitude</string>
		<string>tStimTwoGratingDirectionDeg</string>
		<string>tStimTwoGratingContrast</string>
		<string>tStimTwoGratingElevationDeg</string>
		<string>tStimTwoGratingAzimuthDeg</string>
		<string>tStimTwoGratingDiameterDeg</string>
		<string>tStimTwoGratingSpatialFreqCPD</string>
		<string>tStimTwoGratingTemporalFreqCPS</string>
		<string>tStimTwoGratingPhaseDeg</string>
		<string>tStimTwoSoundAmplitude</string>
		<string>tStimOneDoVisualStim</string>
		<string>tStimOneDoAuditoryStim</string>
		<string>tStimTwoDoVisualStim</string>
		<string>tStimTwoDoAuditoryStim</string>
		<string>tTrialLaserPowerMw</string>
		<string>tTrialLaserOnTimeMs</string>
		<string>tTrialLaserOffTimeMs</string>
		<string>tBlock2TrialNumber</string>
		<string>tBlock2TrialLaserPowerMw</string>
		<string>tBlock2TrialLaserOnTimeMs</string>
		<string>tBlock2TrialLaserOffTimeMs</string>
		<string>isFirstTrial</string>
		<string>DoWheelSpeed</string>
		<string>speedIntervalUS</string>
		<string>tItiWaitFrames</string>
		<string>nStimOneFramesOn</string>
		<string>nStimTwoFramesOn</string>
		<string>nFramesISI</string>
		<string>cItiStart</string>
		<string>cStimOneOn</string>
		<string>cStimOneOff</string>
		<string>cStimTwoOn</string>
		<string>cStimTwoOff</string>
		<string>mwStimOneOnMs</string>
		<string>mwStimOneOffMs</string>
		<string>mwStimTwoOnMs</string>
		<string>mwStimTwoOffMs</string>
		<string>tNStimAccepted</string>
		<string>svStimNumber</string>
		<string>svStimNumber2</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
