<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MATLAB client window - MATLAB .m file</key>
	<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/MATLAB_window_files/bunnies2.m</string>
	<key>MATLAB client window - selected variables</key>
	<array>
		<string>#allowAltFailover</string>
		<string>#state_system_mode</string>
		<string>#announceMessage</string>
		<string>#stimDisplayUpdate</string>
		<string>#experimentLoadProgress</string>
		<string>#loadedExperiment</string>
		<string>#announceStimulus</string>
		<string>#announceSound</string>
		<string>#announceCalibrator</string>
		<string>#requestCalibrator</string>
		<string>#announceCurrentState</string>
		<string>#announceTrial</string>
		<string>#announceBlock</string>
		<string>#announceAssertion</string>
		<string>#serverName</string>
		<string>#mainScreenInfo</string>
		<string>#warnOnSkippedRefresh</string>
		<string>#stopOnError</string>
		<string>#realtimeComponents</string>
		<string>optic_device</string>
		<string>experimentXmlTrialId</string>
		<string>subjectNum</string>
		<string>FIO1</string>
		<string>MIO0</string>
		<string>laserTrigger</string>
		<string>strobedDigitalWord</string>
		<string>juice</string>
		<string>counter</string>
		<string>wheelSpeed</string>
		<string>LED_durationMS</string>
		<string>led1_status</string>
		<string>led2_status</string>
		<string>led_seq</string>
		<string>quadrature</string>
		<string>speedIntervalUS</string>
		<string>doCerebellarStim</string>
		<string>do2led</string>
		<string>index</string>
		<string>frameRateHz</string>
		<string>xSize</string>
		<string>ySize</string>
		<string>xPosition</string>
		<string>yPosition</string>
		<string>numImages</string>
		<string>Do2LED</string>
		<string>LED_sequence</string>
		<string>doPhotodiode</string>
		<string>photoStimulusContrast</string>
		<string>photoStimulusAzimuth</string>
		<string>photoStimulusElevation</string>
		<string>photoStimulusWidth</string>
		<string>photoStimulusHeight</string>
		<string>photoMaskSpatialFreq</string>
		<string>isiTimeMs</string>
		<string>randIsiTimeStart</string>
		<string>randIsiTimeStep</string>
		<string>randIsiTimeInterval</string>
		<string>itiTimeMs</string>
		<string>stimOnTimeMs</string>
		<string>stimOne</string>
		<string>stimTwo</string>
		<string>stimOneOffChance</string>
		<string>stimList</string>
		<string>setList</string>
		<string>doRandIsiTime</string>
		<string>doRepeatStimOne</string>
		<string>doRepeatStimTwo</string>
		<string>doRandStimOne</string>
		<string>doRandStimTwo</string>
		<string>doSameStims</string>
		<string>doStimOneOffChance</string>
		<string>DoWheelSpeed</string>
		<string>sync</string>
		<string>ntrials</string>
		<string>cItiStart</string>
		<string>cStimOneOn</string>
		<string>cStimOneOff</string>
		<string>cStimTwoOn</string>
		<string>cStimTwoOff</string>
		<string>tisiTimeMs</string>
		<string>tstimOne</string>
		<string>tstimTwo</string>
		<string>tisiTimeFrames</string>
		<string>titiTimeFrames</string>
		<string>tstimOnTimeFrames</string>
	</array>
	<key>recentPythonScripts</key>
	<array>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/VisStimRetLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/NewSkeletonCode/PythonBridgeCode/Lego.py</string>
		<string>/Users/hullglick/Repositories/BehaviorCode-Glickfeld-Hull/BehaviorCode/Old-maunsell/PythonBridgeCode/DualPressPython.py</string>
		<string>/Users/hullglick/Repositories/Maunsell-MWorks-ExperimentXML/PythonBridgeCode/HoldAndDetectLaserPython.py</string>
		<string>/Users/hullglick/Downloads/MWorksSpeedTest/python_bridge_speedtest.py</string>
	</array>
</dict>
</plist>
